<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="FileLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="behaviorLargeDataFeed">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>

        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="2147483647"/>
                <binding name="BasicHttpBinding_IService11"/>
            </basicHttpBinding>
        </bindings>
        <!--<client>
            <endpoint address="http://localhost:59877/SVCSearch.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="SVCSearch.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:1550/SVCGateway.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11" contract="SVCGateway.IService1"
                name="BasicHttpBinding_IService11" />
        </client>-->
      <client>
        <endpoint address="http://SVR2016/SVCSearch.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="SVCSearch.IService1" name="BasicHttpBinding_IService1"/>
        <endpoint address="http://SVR2016/SVCGateway.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="SVCGateway.IService1" name="BasicHttpBinding_IService11"/>
      </client>
    </system.serviceModel>

  <appSettings>

    <add key="ECMSecureLogin" value="Data Source=108.61.17.163;Initial Catalog=ECM.SecureLogin;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Timeout=30;"/>
    <add key="ECMREPO" value="Data Source=108.61.17.163;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Timeout=30;"/>
    <add key="UseEncrypted" value="0"/>
    <add key="UseMasterFile" value="0"/>
    <add key="UseSecurityDB" value="1"/>
    <add key="EncPW" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>
    <add key="EncPWFS" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>

    <add key="GREPKEY" value="EcmCLCDownload"/>
    <!--<add key="ECMSecureLoginEndPoint" value="http://localhost:62975/SVCGateway.svc"/>-->
    <add key="ECMSecureLoginEndPoint" value="http://SVR2106/SVCGateway.svc"/>
    <add key="UseEncrypted" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ECMSearchURL" value="http://EcmFind.com"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
