USE [master]
GO
/****** Object:  Database [DMA.UD.License]    Script Date: 03/30/2010 07:47:08 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DMA.UD.License')
BEGIN
CREATE DATABASE [DMA.UD.License] ON  PRIMARY 
( NAME = N'DMA.UD.License', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.DELLT100\MSSQL\DATA\DMA.UD.License.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'DMA.UD.License_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.DELLT100\MSSQL\DATA\DMA.UD.License_1.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DMA.UD.License].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [DMA.UD.License]
GO
/****** Object:  Table [dbo].[ActiveLicense]    Script Date: 03/30/2010 07:47:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ActiveLicense_InstallDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ActiveLicense] DROP CONSTRAINT [DF_ActiveLicense_InstallDate]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActiveLicense]') AND type in (N'U'))
DROP TABLE [dbo].[ActiveLicense]
GO
/****** Object:  Table [dbo].[License]    Script Date: 03/30/2010 07:47:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_License_LicenseGenDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[License] DROP CONSTRAINT [DF_License_LicenseGenDate]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_License_MaxClients]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[License] DROP CONSTRAINT [DF_License_MaxClients]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_License_MaxSharePoint]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[License] DROP CONSTRAINT [DF_License_MaxSharePoint]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[License]') AND type in (N'U'))
DROP TABLE [dbo].[License]
GO
/****** Object:  Table [dbo].[PgmTrace]    Script Date: 03/30/2010 07:47:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_PgmTrace_CreateDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PgmTrace] DROP CONSTRAINT [DF_PgmTrace_CreateDate]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PgmTrace]') AND type in (N'U'))
DROP TABLE [dbo].[PgmTrace]
GO
/****** Object:  Table [dbo].[Programmer]    Script Date: 03/30/2010 07:47:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Programmer]') AND type in (N'U'))
DROP TABLE [dbo].[Programmer]
GO
USE [master]
GO
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 03/30/2010 07:47:09 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyEventProcessingLogin##')
DROP LOGIN [##MS_PolicyEventProcessingLogin##]
GO
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 03/30/2010 07:47:08 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyTsqlExecutionLogin##')
DROP LOGIN [##MS_PolicyTsqlExecutionLogin##]
GO
/****** Object:  Login [DELLT100\Administrator]    Script Date: 03/30/2010 07:47:08 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'DELLT100\Administrator')
DROP LOGIN [DELLT100\Administrator]
GO
/****** Object:  Login [DELLT100\wmiller]    Script Date: 03/30/2010 07:47:08 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'DELLT100\wmiller')
DROP LOGIN [DELLT100\wmiller]
GO
/****** Object:  Login [NT AUTHORITY\NETWORK SERVICE]    Script Date: 03/30/2010 07:47:08 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\NETWORK SERVICE')
DROP LOGIN [NT AUTHORITY\NETWORK SERVICE]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 03/30/2010 07:47:08 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\SYSTEM')
DROP LOGIN [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Login [NT SERVICE\MSSQL$ECM]    Script Date: 03/30/2010 07:47:08 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\MSSQL$ECM')
DROP LOGIN [NT SERVICE\MSSQL$ECM]
GO
/****** Object:  Login [NT SERVICE\SQLAgent$ECM]    Script Date: 03/30/2010 07:47:08 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\SQLAgent$ECM')
DROP LOGIN [NT SERVICE\SQLAgent$ECM]
GO
/****** Object:  Login [NT SERVICE\SQLAgent$ECM]    Script Date: 03/30/2010 07:47:08 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\SQLAgent$ECM')
CREATE LOGIN [NT SERVICE\SQLAgent$ECM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\MSSQL$ECM]    Script Date: 03/30/2010 07:47:08 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\MSSQL$ECM')
CREATE LOGIN [NT SERVICE\MSSQL$ECM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 03/30/2010 07:47:08 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\SYSTEM')
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\NETWORK SERVICE]    Script Date: 03/30/2010 07:47:08 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\NETWORK SERVICE')
CREATE LOGIN [NT AUTHORITY\NETWORK SERVICE] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [DELLT100\wmiller]    Script Date: 03/30/2010 07:47:08 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'DELLT100\wmiller')
CREATE LOGIN [DELLT100\wmiller] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [DELLT100\Administrator]    Script Date: 03/30/2010 07:47:08 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'DELLT100\Administrator')
CREATE LOGIN [DELLT100\Administrator] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 03/30/2010 07:47:08 ******/
/* For security reasons the login is created disabled and with a random password. */
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyTsqlExecutionLogin##')
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'I6ýÒ`0ôï7j"i§Ð¼XÛ£®F/ñÖDëV¤', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 03/30/2010 07:47:09 ******/
/* For security reasons the login is created disabled and with a random password. */
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyEventProcessingLogin##')
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'a&ÒÌ uÙ£)çÒ°êÈb¤ñB5y !QI[''', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
USE [DMA.UD.License]
GO
/****** Object:  Table [dbo].[Programmer]    Script Date: 03/30/2010 07:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Programmer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Programmer](
	[ProgrammerID] [int] IDENTITY(1,1) NOT NULL,
	[ProgrammerName] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PgmTrace]    Script Date: 03/30/2010 07:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PgmTrace]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PgmTrace](
	[StmtID] [nvarchar](50) NULL,
	[PgmName] [nvarchar](254) NULL,
	[Stmt] [nvarchar](max) NOT NULL,
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NULL CONSTRAINT [DF_PgmTrace_CreateDate]  DEFAULT (getdate()),
	[ConnectiveGuid] [nvarchar](50) NULL,
	[UserID] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[PgmTrace] ON
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'Conversion failed when converting datetime from character string.', 1, CAST(0x00009BD700CE50D3 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql) in c:\dev\ReconLicense\ReconLicense\clsDatabase.vb:line 2084', 2, CAST(0x00009BD700CE51C2 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'Conversion failed when converting datetime from character string.', 4, CAST(0x00009BD700CEAC8B AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The UPDATE statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "ecmadmin", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 44, CAST(0x00009C7100AE47DF AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The UPDATE statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "ecmadmin", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 46, CAST(0x00009C7100AEAC00 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql)', 5, CAST(0x00009BD700CEAC90 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The UPDATE statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "ecmadmin", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 48, CAST(0x00009C9D01176FC8 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql)', 8, CAST(0x00009BD700CF8C30 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The INSERT statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "EcmSupport", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 36, CAST(0x00009C4F00E41EB9 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The INSERT statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "EcmSupport", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 38, CAST(0x00009C4F00E491B0 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql)', 11, CAST(0x00009C4F00CD453C AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The INSERT statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "EcmSupport", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 40, CAST(0x00009C4F00E5CCE5 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql)', 14, CAST(0x00009C4F00CD8803 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The UPDATE statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "ecmadmin", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 55, CAST(0x00009CC200A0E3DD AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql)', 17, CAST(0x00009C4F00CE8158 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'1002', N'clsDataBase:SqlQry', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlDataReader.ConsumeMetaData()
   at System.Data.SqlClient.SqlDataReader.get_MetaData()
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, DbAsyncResult result)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   at System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   at System.Data.SqlClient.SqlCommand.ExecuteReader()
   at ReconLicense.clsDatabase.SqlQry(String sql)', 20, CAST(0x00009C4F00CF48AB AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql)', 23, CAST(0x00009C4F00CF4D32 AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'1002', N'clsDataBase:SqlQry', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlDataReader.ConsumeMetaData()
   at System.Data.SqlClient.SqlDataReader.get_MetaData()
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, DbAsyncResult result)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   at System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   at System.Data.SqlClient.SqlCommand.ExecuteReader()
   at ReconLicense.clsDatabase.SqlQry(String sql) in D:\dev\ECM\EcmLicenseGenerator\ReconLicense\clsDatabase.vb:line 1780', 26, CAST(0x00009C4F00DD180C AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'The UPDATE statement conflicted with the FOREIGN KEY constraint "RefLicenseType18". The conflict occurred in database "ecmadmin", table "dbo.LicenseType", column `LicenseTypeCode`.
The statement has been terminated.', 50, CAST(0x00009C9D0118120D AS DateTime), NULL, NULL)
INSERT [dbo].[PgmTrace] ([StmtID], [PgmName], [Stmt], [RowID], [CreateDate], [ConnectiveGuid], [UserID]) VALUES (N'39901', N'ExecuteSqlNoTx: ', N'   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj)
   at System.Data.SqlClient.TdsParser.Run(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj)
   at System.Data.SqlClient.SqlCommand.RunExecuteNonQueryTds(String methodName, Boolean async)
   at System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(DbAsyncResult result, String methodName, Boolean sendToPipe)
   at System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   at ReconLicense.clsDatabase.ExecuteSql(String sql)', 53, CAST(0x00009CC200967AA3 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PgmTrace] OFF
/****** Object:  Table [dbo].[License]    Script Date: 03/30/2010 07:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[License]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[License](
	[CustomerName] [nvarchar](254) NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[LicenseExpireDate] [datetime] NULL,
	[NbrSeats] [int] NULL,
	[NbrSimlUsers] [int] NULL,
	[CompanyResetID] [nvarchar](50) NOT NULL,
	[MasterPW] [nvarchar](50) NOT NULL,
	[LicenseGenDate] [datetime] NULL CONSTRAINT [DF_License_LicenseGenDate]  DEFAULT (getdate()),
	[License] [nvarchar](2000) NOT NULL,
	[LicenseID] [int] NOT NULL,
	[ContactName] [nvarchar](254) NULL,
	[ContactEmail] [nvarchar](254) NULL,
	[ContactPhoneNbr] [nvarchar](50) NULL,
	[CompanyStreetAddress] [nvarchar](254) NULL,
	[CompanyCity] [nvarchar](254) NULL,
	[CompanyState] [nvarchar](50) NULL,
	[CompanyZip] [nvarchar](50) NULL,
	[MaintExpireDate] [datetime] NULL,
	[CompanyCountry] [nvarchar](50) NULL,
	[MachineID] [nvarchar](50) NULL,
	[LicenseTypeCode] [nvarchar](50) NULL,
	[ckSdk] [bit] NULL,
	[ckLease] [bit] NULL,
	[MaxClients] [int] NULL CONSTRAINT [DF_License_MaxClients]  DEFAULT ((0)),
	[MaxSharePoint] [int] NULL CONSTRAINT [DF_License_MaxSharePoint]  DEFAULT ((0))
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[License]') AND name = N'PI01License_CustName')
CREATE NONCLUSTERED INDEX [PI01License_CustName] ON [dbo].[License] 
(
	[CustomerName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[License]') AND name = N'PI02_LicenseCustID')
CREATE NONCLUSTERED INDEX [PI02_LicenseCustID] ON [dbo].[License] 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[License]') AND name = N'PK_License')
CREATE UNIQUE NONCLUSTERED INDEX [PK_License] ON [dbo].[License] 
(
	[CustomerID] ASC,
	[LicenseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[License] ([CustomerName], [CustomerID], [LicenseExpireDate], [NbrSeats], [NbrSimlUsers], [CompanyResetID], [MasterPW], [LicenseGenDate], [License], [LicenseID], [ContactName], [ContactEmail], [ContactPhoneNbr], [CompanyStreetAddress], [CompanyCity], [CompanyState], [CompanyZip], [MaintExpireDate], [CompanyCountry], [MachineID], [LicenseTypeCode], [ckSdk], [ckLease], [MaxClients], [MaxSharePoint]) VALUES (N'US Army Ardec', N'USARMY-001', CAST(0x00009D4A00000000 AS DateTime), 10, 10, N'ECMLIBRARY-2010-001', N'wdmsdm', CAST(0x00009D11008D77A0 AS DateTime), N'RvGpfJRG4IjSkdYJVvpRzHRhB3nW5rFUQpNy5PW2YHN1vH5Hn4DJGBF+1ngVsxH1oyrqtebdR5e+Sw2tkdqthleSSZW8jtpr72Z8aN3lKuGzimxui54uJJ0KXwT/DJakOMs7u59bMNPlEu+ZfTdNTW5ig4O6pnFSLFpanAxHjIA9FNLdrs8fJY0xUsBG9WT7Ril7bxKydx/fb6a1NqBWTDbt1z5tbJeLoyrqtebdR5f5en8ct6u6MGKNAig7ywDrdo3y5OChyyTesTr9qDscDcdMC46X2/XOrpDGXaCwjVP49F4bp74nnVmKkMZbv0QyrGZOkDZPuuM8IH1Mu9gmleV02OZeD62Diw8PFec7Jhtqg/6GWt00ROxR9ax84cMErTarQrQSDnR6K/0ORHh3XkzIsuD8mTwBNpDfmgQBWgAxTVgP7zHJAC0epMbA9SwgsrJwiNOOIRj6lBHdBp/qB+uGe3HHKv3qe/W3LWE0WwgR5dkTfx3mo5NnTTQtIn8jn8CF46MqTYv7pe602e4dIfkZnNDCPlP0UzaW+5epj7jTjtj2FWbwKvNqPkSq7lO7x2K0pXPdxkxOLlYKpLlXNte9Ut48OFQonMNHPydjphke592osTlf8l0H8MzlnVFHSXrMgCxoWvpLbfv8J5buO08z9SSZtouXxOeNg+X5xaaU0rUvRlqJ2f9+meur6ZPJ12R6dXPIX10YmwgLYU3gaw+ACXrb/9Mlo1MNhFjnWaQTnqFNS1mz42H9yfQItXbYZ6P4GmLMqcs0qR+EN9tV9Ki2PLBc+chSrI5pSi4uGrLnyUw8nPANpiUyGpfT3F33au415hCAMosOeUtxR2Dz8bIv61PqCk6zwFBNltyMH9wzbuZ0byj+XFWJeSfwzzuC4+UhS5n3wzIgCkkFfV8Nh+LLqQ/+F3ncr9MWggnsEuLzv7rzsrQATZW5R/UH0Fq0sLqBVj7drAo=', 1, N'Gaston Pantas', N'gaston.planas@serco-na.com', N'(973) 724-7670', N'US Army Ardec
Building 31, Room 32
Picatinny Arsenal, NJ 07806', N'Picatinny Arsenal', N'NJ', N'07806', CAST(0x00009D4A00000000 AS DateTime), N'USA', NULL, N'Roaming', 1, 1, 0, 0)
INSERT [dbo].[License] ([CustomerName], [CustomerID], [LicenseExpireDate], [NbrSeats], [NbrSimlUsers], [CompanyResetID], [MasterPW], [LicenseGenDate], [License], [LicenseID], [ContactName], [ContactEmail], [ContactPhoneNbr], [CompanyStreetAddress], [CompanyCity], [CompanyState], [CompanyZip], [MaintExpireDate], [CompanyCountry], [MachineID], [LicenseTypeCode], [ckSdk], [ckLease], [MaxClients], [MaxSharePoint]) VALUES (N'Cogent IT', N'CogentIT-01', CAST(0x00009D4400000000 AS DateTime), 20, 20, N'CogentIT-01', N'wdmsdm', CAST(0x00009CC200AFF5B4 AS DateTime), N'RvGpfJRG4Ij6Mcs6IjNKTrd2Glxwcx5KPu9LOXZQbF99PIIxbTOOAWZf0GSNN3vmKr9pWZC2PU294uldRmPIb0H89PioxN+IY6YKWrBpfwqFLffQHDn0IfmkucyW8BbEw59f/1PiX60NLN1uFTMip4jJxkTlAHyLQmaJyyDAuuDHQOizLIHSx0xjSI4lwzq/Rc4rZ71pUvSQc/tqXPnY1w2dIhdftVAHE88ndz0w1Rty7fgCDSBd3Fr3wl2Al/4t2N+CnKps9MapO8nnr7Aqm1QOHrSzeWFwS/K41B4/9yHDW+LKx3/oDwdhh53OYAEIsq1t4RUIh/Zp/TV0bpCUx4E1s0H5al0fvXAe8XuQIhy/pEHGe3Q0Q3tgvHfF8A27b6E1ZfpANwDzd626i2tOw9Oo74qOLeKsTKaWg1MdCk3FlJTfktZBuHkPO+urDsIcDwkddluIkSnsJbNo5Nj/bmtj13Ih10Lb8aYsch5xmtj4sT2wf03q+zlwhBs82g46x4vDBKlg/eoGR8qFZaw9GSRc9IiMHNQ3IYFMk0TcAZUTYtP//XB7NQ6zGjNv0yDDErKdzJk9QsVYMkHcrFC0FDuz0e78C2A+J13jX03EHTw7BNagBflPFe5uj0lr4+GOmCN5YVQKbCYkqVu2gQZ0YwdfEdYz+WgUusXYvWn1P09dF5ril7pd0oiBvjgQeJChM8n67XSWsV8PgAl62//TJc2L85xscoWGjpm1djY9vFKWleMpLOtBRudmUHZqgYIWiALJTaK43euhzUEN+eUBSXfP8H2gQGIqqLY8sFz5yFKsjmlKLi4asli6ZYW2CRyRkHP7alz52Neq2P13+QpMWQLX/JCowe7x6TpV+7cKFdfizMF7wFRhoyTpX3I7rnM1ezZgLMl/tNC+w5MJ5rxiTWMUUU7iNYQ8pDHpor5GYYK76yewu4Ed/eHqh3lFupa4M/VKtURNPF0=', 1, N'Stephen Bausch', N'Steve.Bausch@CogentIT.com', N'503.924.3621 x301', N'Principal 
9800 SW Beaverton-Hillsdale Hwy Suite 106 
Beaverton, OR 97005 
Main | 503.924.3621 x301 
FAX | 503.296.2092', N'Portland', N'OR', N'97005', CAST(0x00009CF200000000 AS DateTime), N'USA', NULL, N'Enterprise', 0, NULL, NULL, NULL)
INSERT [dbo].[License] ([CustomerName], [CustomerID], [LicenseExpireDate], [NbrSeats], [NbrSimlUsers], [CompanyResetID], [MasterPW], [LicenseGenDate], [License], [LicenseID], [ContactName], [ContactEmail], [ContactPhoneNbr], [CompanyStreetAddress], [CompanyCity], [CompanyState], [CompanyZip], [MaintExpireDate], [CompanyCountry], [MachineID], [LicenseTypeCode], [ckSdk], [ckLease], [MaxClients], [MaxSharePoint]) VALUES (N'Advent Software', N'ADVENT-001', CAST(0x0000AC2900000000 AS DateTime), 15, 15, N'DMA -000-100', N'wdmsdm', CAST(0x00009D4400FF1B6C AS DateTime), N'RvGpfJRG4Ij6Mcs6IjNKTrd2Glxwcx5KPu9LOXZQbF+4LnJskhsMG5WYt/h8Vsc74aA0IQpd2aAiPv2S9ljgepGIxV2q2+YTNKyZPKzMxRDpOgwU9d5iEgGUY6gPoJLarMSmdYwxo6Q9FNLdrs8fJY0xUsBG9WT7Ril7bxKydx8Kyp/MFWABTUQKO1OCG7dMoyrqtebdR5cqK2hPGY7pKEps67gWdYO4bJ9mhdNHHUIElg3/PXO2+IH5L1ofTANe4QVPrTU+SYeCj+ssh/9vcA4KO+CO3TVEJM/sdLKPEcXTqO+Kji3irFVhRQXbYeIpxZSU35LWQbjjypBMILf32DB55E874c6TlApKAS2W8/sjTLQjMbwqv96NT7S3K0wHhA6wb8+4qR8knX1e9x+EPsPa6oe66jhK0NuVQFNWrpTcuBZdaBaEz4n6HnuMEeJtsTFdJfW7KpOvGFuCAJ5Fn90aOPw5iU7IRlRgb9vqe+tREgSuG/o3vFn4w8TPEdTYbQrJ+cNJ1lEnXeNfTcQdPDsE1qAF+U8V4tIHtHZw+ntqfu/q6BD83tDDTCYUxkUbcrDCEcx8X+v9nzNrldx00rk4ec/aK6abiCXIn7jyvjkP7medkGU/9fneZ+g1ZpXibBP6ROrCmyZrNOp8nA7epv9fN0y4bla7s+raxRpibGoMA6KBnH1Tda7FE6X74sLbNRmAqy6MOQWotjywXPnIUpfxAVaS42VE+egL0u/JyoelDhGwowGWQhRcfJrtjNnNLuoaQmDxwfjjb2i0aa5T5lioQgzZu58DUcUnI2UM7fdmG5FKWTWIMiIkt9tiXxpC6lKEtQD7uwgX8cDEgucmJOPlIUuZ98MyIApJBX1fDYfri5C+lvexM/N4oq5ve0ZBKyyS4qhhkbvrg9fwOQhACloQ2nWsHPhb', 1, N'Trista Rajaratnam', N'trajarat@Advent.COM', N'415.645.1102', N'Advent Software, Inc.
415.645.1102', N'San Francisco', N'CA', N'00001', CAST(0x00009E5D00000000 AS DateTime), N'USA', NULL, N'Enterprise', 0, 1, 0, 0)
INSERT [dbo].[License] ([CustomerName], [CustomerID], [LicenseExpireDate], [NbrSeats], [NbrSimlUsers], [CompanyResetID], [MasterPW], [LicenseGenDate], [License], [LicenseID], [ContactName], [ContactEmail], [ContactPhoneNbr], [CompanyStreetAddress], [CompanyCity], [CompanyState], [CompanyZip], [MaintExpireDate], [CompanyCountry], [MachineID], [LicenseTypeCode], [ckSdk], [ckLease], [MaxClients], [MaxSharePoint]) VALUES (N'Givaudan', N'Givaudan-01', CAST(0x0000A08000000000 AS DateTime), 20, 20, N'Givaudan-01', N'wdmsdm', CAST(0x00009D440100AB08 AS DateTime), N'RvGpfJRG4Ij6Mcs6IjNKTrd2Glxwcx5KPu9LOXZQbF8esSsfRDOtAvjE50rloWxKUk2BYVuTpZdmxKywo/jHD+gqkegWa58yOjVAkR+FmZ9eK9p5S6tW1mXQjjl54llb8pO+rV7+9i414yj5oGLPW4LrWO2zergW2TRaA+x0qz0T3AQwpkGw6Z/KZBBU1vnTZeYTbMt1qIUwE6mwA83y8WTckMr2hgqfE5YTbCxOyxsTfW9u153cnGBrUM2GJzSnvNc+Zk2OmXEVI+nLiQu9FsKbGsyQ50t3QCctHooUCaeNq2kxHYIICIwj7tDFGiVYeIPzeQSiZgbCmLrXhwPKqBNi0//9cHs1j8pjy34eOQop9GxxFsHrR/j0XhunviedG+kzL/EPwrWsZk6QNk+64zwgfUy72CaVxr1TPMD09reLDw8V5zsmG5C0eHYpzc89qRAElwYw9D96K/0ORHh3XkzIsuD8mTwBNpDfmgQBWgAxTVgP7zHJAB5/uUB4NqEB/dMfBKBCRvA+FTB81wEPM816d4g+mHdAJYpG/RBwREdJfCEPrt6ytVPJzt3lJv4ncDBlr8/ZvEr7pe602e4dIfkZnNDCPlP0UzaW+5epj7jTjtj2FWbwKjd7sfYhd66gkS3E2R7anc4nXeNfTcQdPHKwwhHMfF/r8c63ZwfXqJg60bZrwA1LErWjzmWMWuoma7lyFLGNfIG9+ETFAlj7/FLhkwIXVnJke5aRyNSel9Vh48NPcBVLAWxYLw3kKHj7crDCEcx8X+uZbYVvl13NtNdkenVzyF9dDDtNRu+qqvLugt1yHejH3WVJPZVpZjkgMUiR5bDVeXvmb+RK6dYyQYyutJKsljXVIEoZa9BoD37c50awsgpb1/3AGydzMZifZPuJ1ttbI6BUgMtmZSsbJ+d4hc+KkRMgomh4o8LWxdcs9D/raqmEMddImzRxfNqi3FLGZZwyt/hKP3uvc0k0KNgQFCAhbFsot21mg7NFsw5CbudiMrlDf5Oy0RBFW1Nmr0DgkL23woU=', 1, N'Stephen Bausch', N'Steve.Bausch@CogentIT.com', N'503.924.3621 x301', N'Principal 
9800 SW Beaverton-Hillsdale Hwy Suite 106 
Beaverton, OR 97005 
Main | 503.924.3621 x301 
FAX | 503.296.2092', N'Portland', N'OR', N'97005', CAST(0x00009E7C00000000 AS DateTime), N'USA', NULL, N'Enterprise', 0, 1, 0, 0)
/****** Object:  Table [dbo].[ActiveLicense]    Script Date: 03/30/2010 07:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActiveLicense]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ActiveLicense](
	[License] [nvarchar](2000) NOT NULL,
	[InstallDate] [datetime] NOT NULL CONSTRAINT [DF_ActiveLicense_InstallDate]  DEFAULT (getdate()),
	[LicenseID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ActiveLicense] ON
INSERT [dbo].[ActiveLicense] ([License], [InstallDate], [LicenseID]) VALUES (N'XXX', CAST(0x00009BD7010E69C9 AS DateTime), 1)
INSERT [dbo].[ActiveLicense] ([License], [InstallDate], [LicenseID]) VALUES (N'XXX', CAST(0x00009BD7010E7BF8 AS DateTime), 2)
INSERT [dbo].[ActiveLicense] ([License], [InstallDate], [LicenseID]) VALUES (N'AAA', CAST(0x00009BD7010EEF8B AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[ActiveLicense] OFF
