<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="ECMSearch"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorLargeDataFeed">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="20000000"/>
        <binding name="BasicHttpBinding_IService11" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="20000000"/>
        <binding name="BasicHttpBinding_IService12" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="20000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59757/SVCSearch.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="SVCSearch.IService1" name="BasicHttpBinding_IService1"/>
    </client>
    <!--<client>
      <endpoint address="http://ALIEN15/SearchSVC.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="SearchSVC.IService1" name="BasicHttpBinding_IService1"/>
    </client>-->
  </system.serviceModel>
 
  <appSettings>
    <add key="DebugON" value="1"/>
    <add key="CustomerID" value="PA-001"/>
    
    <add key="SVRNAME" value="ALIEN15"/>
    <add key="DBNAME" value="ECM.Library.FS"/>
    <add key="INSTANCENAME" value=""/>

    <add key="EncPW" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>
    <add key="ECMSecureLogin" value="Data Source=ALIEN15;Initial Catalog=ECM.SecureLogin;Persist Security Info=True;User ID=sa;Password=@@PW@@; Timeout=30;"/>
    <add key="ECMThesaurus" value="Data Source=ALIEN15;Initial Catalog=ECM.Thesaurus;Persist Security Info=True;User ID=sa;Password=@@PW@@; Timeout=30;"/>
    <add key="ECMREPO" value="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Timeout=30;"/>
    <add key="ECMLicense" value="Data Source=ALIEN15;Initial Catalog=DMA.UD.License;Persist Security Info=True;User ID=sa;Password=@@PW@@; Timeout=30;"/>
    
    <add key="AllowContentSearch" value="1"/>  <!-- set this to a 1 to enable Content searches and a 0 to disable -->
    <add key="AllowEmailSearch" value="1"/>    <!-- set this to a 1 to enable Email searches and a 0 to disable -->
    
    <add key="UseEncrypted" value="0"/>
    <add key="UseMasterFile" value="0"/>
    <add key="UseSecurityDB" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DownloadDIR" value="c:/temp/ECM/Downloads/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="ERD" connectionString="data source=ALIEN15;initial catalog=ECM.Library.FS;persist security info=True;user id=ecmlibrary;password=@@PW@@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="RepoERD" connectionString="metadata=res://*/RepoERD.csdl|res://*/RepoERD.ssdl|res://*/RepoERD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALIEN15;initial catalog=ECM.Library.FS;persist security info=True;user id=ecmlibrary;password=Junebug1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
