<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!-- This is where the Listerner Log(s) are kept. Do not end this directory in a "\" -->
    <add key="DirListenerFilePath" value="c:\EcmLibraryDirListener" />
    <!-- This file contains a list of directories that will be "listened" to -->
    <add key="DirsToMonitor" value="c:\EcmLibraryDirListener\DirsToMonitor.dat" />
    <!-- This is the Listener SQLite DB and where it is located. It must be the same in the Archiver -->
    <add key="SQLiteListenerDB" value="c:\SQLiteDB\Listener.db" />
    <!-- When the below is set to 1, run as a service, when set to 0, run as a console app
          The Archiver MUST be set to run use the Listener or it will run using the Inventory method. -->
    <add key="RunAsService" value="1" />
    <!-- If RunAsService is set to 1 then you can hide the console window by setting the below to 1 "\" -->
    <add key="HideConsoleWindow" value="0" />
    <!-- This is the location of the ERROR LOG files. Do not end this directory in a "\" -->
    <add key="LogDir" value="c:\EcmLibraryDirListener\ErrorLogs" />
    <!-- This is the location of the STATIC ERROR LOG files. Do not end this directory in a "\" -->
    <add key="StaticLog" value="c:\EcmLibraryDirListener\ErrorLogs" />
    <add key="StartupLog" value="c:\EcmLibraryDirListener\ErrorLogs\Start.log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>