<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <trust level="Full" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>

    <!--Set UseEncrypted's value to 1 if the encrypted connection string is to be used.-->
    <!--Set UseMasterFile's value to 1 if globally accessible connection file is to be used.-->
    <add key="ECMSecureLogin" value="Data Source=108.60.211.158;Initial Catalog=ECM.SecureLogin;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Timeout=30;"/>
    <add key="ECMREPO" value="Data Source=108.60.211.158;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Timeout=30;"/>
    <!--Set the below value to 1 if the encrypted connection string is to be used.-->
    <add key="UseEncrypted" value="0"/>
    <add key="UseMasterFile" value="0"/>
    <add key="UseSecurityDB" value="1"/>
    <add key="EncPW" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>
    <add key="EncPWFS" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>

    <!-- *********   Used with the HIVE to identify the physical location of the server ************** -->
    <add key="FacilityName" value="Highland Park"/>

    <!-- *********   HIVE DATABASE ************** -->
    <add key="HIVE.DB" value="Data Source=108.60.211.158; Initial Catalog=ECM.Hive; Integrated Security=True;  Connect Timeout = 30;"/>

    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="HELP.DB" value="bNk5A9GOZlZSKQ3LvNtPFhN4etcAN+GnAyg5jierPJ9M9GF13x+OKU9v+EeuBc4SXY3FwWzlOJ70abvO/1DEAaswUNjiZyQ6sTsqTrfphpHmYc3WNYqkv96jf777lbyD68HVURcLetn7uUVVkAPcQPvSoYKC6tkq"/>

    <!-- *********   SET THE FOLLOWING AS NEEDED  ************** -->
    <add key="AutoIncludeSubDirs" value="true"/>
    <add key="ConfigVersion" value="12/05/2010 Version 2.10.10.15"/>
    <add key="ClientOnly" value="0"/>
    <add key="ProcessJpgAsTIF" value="0"/>

    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <add key="PdfProcessingDir" value="C:\Temp\"/>
    <!--NO SPACES IN DIRECTORY ALLOWED-->
    <add key="EcmCrawlerOuputDirectory" value="C:\Temp\$Crawler.Ouput.txt"/>
    <add key="EcmCrawlerAvailable" value="Y"/>
    <add key="SpiderCacheDir" value="c:/spiderCache/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DevelopmentReportFolder" value="C:\dev\ECM\EcmLibrary\ReconEmails\"/>
    <add key="EmailFolder1" value="Personal Folders"/>
    <add key="EmailOrFtp" value="EMAIL"/>
    <add key="EmailEncrypted" value="true"/>
    <add key="ToEmail" value="dm@dmachicago.com;"/>
    <add key="FromEmail" value="dm@dmachicago.com"/>

    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="SmtpHost" value="Tarc7+yH9UOQa1hOkLylge50KenwVCAP"/>
    <add key="SmtpUsername" value="3yxtri1pyZ80zhxnbZV678AzfywUR6SHZnBUNXOtxks="/>
    <add key="SmtpPassword" value="TrV3Y2Lkzqr8Remo1wUdMQ=="/>
    <add key="LoginByMachineIdAndLoginID" value="1"/>

    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <add key="dDebug" value="true"/>
    <add key="CaptureSql" value="true"/>

    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="FtpSite" value="www.javamasters.net"/>
    <add key="FtpUserID" value="4zwSGl6T7Pvm0Gr8CoIokQ=="/>
    <add key="FtpUserPW" value="XSlPjE9RX+j8Remo1wUdMQ=="/>

    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <add key="debug_frmDocSearch" value="0"/>
    <add key="debug_frmQuickSearch" value="0"/>
    <add key="step_frmQuickSearch" value="0"/>
    <!-- Unused -->
    <add key="debug_frmEmailSearch" value="0"/>
    <add key="debug_frmReconMain" value="0"/>
    <add key="debug_frmQuickArchive" value="0"/>
    <add key="debug_frmMetadata" value="0"/>
    <add key="debug_clsSql" value="0"/>
    <add key="debug_clsDatabase" value="0"/>
    <add key="debug_clsSpider" value="0"/>
    <add key="EmbededJPGMetadata"  value="1"/>
    <add key="SQLGEN"  value="0"/>
    <add key="DaysToKeepTraceLogs" value="3"/>
    <!--MandateUserLogin MUST BE SET TO TRUE OR FALSE
      If MandateUserLogin is true, then roaming profiles are in place.
      Else, no roaming profiles and the MACHINE must be registerd in order to log on to the system.-->
    <add key="MandateUserLogin" value="true"/>
    <!--MandateSeatLogin MUST BE SET TO TRUE OR FALSE-->
    <add key="MandateSeatLogin" value="false"/>
    <!--AutoRegisterMachine - When set to true, authentication will be done automatically.
      A machine will automatically be entered into the system if a seat is available.
      Otherwise, the machine will have to be pre-registered by an admin before login can
      be completed.-->
    <add key="AutoRegisterMachine" value="true"/>
    <!--AutoRegisterUser - When set to true, authentication will be done automatically.
      A user (login name) will automatically be entered into the system if a user slot is available.
      Otherwise, the user will have to be pre-registered by an admin and enter their
      login ID and password before login can be completed.-->
    <add key="AutoRegisterUser" value="true"/>
  </appSettings>
</configuration>