update ptms_Participant set EncryptedPassword = 'GkXH52Yhh038Remo1wUdMQ=='
update ptms_Participant set UserEmail = UserLoginID
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [UserLoginID]
      ,[UserEmail]
      ,[UserAuthority]
      ,[FirstName]
      ,[MiddleName]
      ,[LastName]
      ,[CellPhone]
      ,[OfficePhone]
      ,[AddrLine1]
      ,[AddrLine2]
      ,[AddrLine3]
      ,[AddrCity]
      ,[AddrState]
      ,[AddrZip]
      ,[AddrCountry]
      ,[EncryptedPassword]
  FROM [PTMS].[dbo].[ptms_Participant]