select  SQL_Servers.Server,
        SQL_Servers.ProductVersion,
        SQL_Servers.ProductLevel,
        SQL_Servers.ResourceLastUpdateDateTime,
        SQL_Servers.ResourceVersion,
        SQL_Servers.IsIntegratedSecurityOnly,
        SQL_Servers.EngineEdition,
        SQL_Servers.InstanceName,
        SQL_Servers.ComputerNamePhysicalNetBIOS,
        SQL_Servers.LicenseType,
        SQL_Servers.NumLicenses,
        SQL_Servers.BuildClrVersion,
        SQL_Servers.[Collation],
        SQL_Servers.CollationID,
        SQL_Servers.ComparisonStyle,
        SQL_Servers.ProductEdition,
        SQL_Servers.IsClustered,
        SQL_Servers.IsFullTextInstalled,
        SQL_Servers.SqlCharSet,
        SQL_Servers.SqlCharSetName,
        SQL_Servers.SqlSortOrderID,
        SQL_Servers.SqlSortOrderName,
        SQL_Servers.LocationID
from    SQL_Servers
