<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EcmArchiver.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EcmArchiver.My.MySettings.EcmFileStoreConnectionString" connectionString="Data Source=|DataDirectory|\CE\EcmFileStore.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.DirDBConnectionString" connectionString="Data Source=|DataDirectory|\CE\DirDB.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.FileDBConnectionString" connectionString="Data Source=|DataDirectory|\CE\FileDB.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.OutlookEmailConnectionString" connectionString="Data Source=|DataDirectory|\CE\OutlookEmail.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.ExchangeEmailConnectionString" connectionString="Data Source=|DataDirectory|\CE\ExchangeEmail.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.ListenersConnectionString" connectionString="Data Source=|DataDirectory|\CE\Listeners.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.DirDBConnectionString1" connectionString="Data Source=|DataDirectory|\BackupItems\DirDB.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.ZipFilesConnectionString" connectionString="Data Source=|DataDirectory|\CE\ZipFiles.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.OutlookContactsConnectionString" connectionString="Data Source=|DataDirectory|\CE\OutlookContacts.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="EcmArchiver.My.MySettings.ECMHive" connectionString="Data Source=ALIEN15;Initial Catalog=ECM.Hive;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Set AllowDuplicateFiles's value to 1 if the repository is allowed to hold duplicate files, otherwise a 0.-->
    <add key="AllowDuplicateFiles" value="0" />
    <!--GREPKEY-->
    <add key="GREPKEY" value="AppConfigArchiveSS" />
    <add key="UseLocalOnly" value="0" />
    <!--ECMThesaurus-->
    <!-- *********   Set the REPO instance name here ************** -->
    <add key="RepoNAME" value="ENC.Library.FS" />
    <add key="AppConfigVerNo" value="4.8.18.1" />
    <!--Set UseEncrypted's value to 1 if the encrypted connection string is to be used.-->
    <!--Set UseMasterFile's value to 1 if globally accessible connection file is to be used.-->
    <!--Last Updated 09/18/2018 WDM-->
    <!--************ Encrypted Strings *********************-->
    <add key="ECMREPO" value="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Connect Timeout = 30;" />
    <add key="ECMLICENSE" value="Data Source=ALIEN15;Initial Catalog=DMA.UD.License;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Connect Timeout = 30;" />
    <add key="ECMThesaurus" value="Data Source=ALIEN15;Initial Catalog=ECM.Thesaurus;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Connect Timeout = 30;" />
    <add key="DEBUGREPO" value="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=wmiller;Password=@@PW@@; Connect Timeout = 30;" />
    <!--*********************************************************-->
    <!--Set the below value to 1 if the encrypted connection string is to be used.-->
    <add key="UseEncrypted" value="1" />
    <add key="UseMasterFile" value="0" />
    <add key="UseRemoteServer" value="1" />


    <!--CHANGE AS NEEDED-->
    <add key="UseDebugSQLite" value="1" />
    <!--Set the below to path to the location of the SQLite ECMArchive Database -->
    <add key="SQLiteLocalDB" value="c:\SQLiteDB\EcmArchive.db" />
    <!--Set the below to 1 to trace the call to each monitored sud or function, 0 to turn off tracing.-->
    <add key="TraceFunctionCALLS" value="0" />
    <!--Do not end the LoggingPath variable in a "\", just leave the last reverse-backslash off -->
    <add key="LoggingPath" value="c:\EcmLibrary" />
    <!--Set the below to a 0 to turn thread processing off and a 1 to turn it on -->
    <add key="UseThreading" value="1" />
    <!--Set the below to a 0 to turn OFF backups of the SQLite DB, or any positive number to have it backed up every X number of hours -->
    <add key="BackupSQLiteHrs" value="8" />
    <!--Set the below to a 0 to allow any size file to be loaded or specify the largest number, in MB, to be allowed to load -->
    <add key="MaxFileToLoadMB" value="250" />
    <!--Set the below to a 0 to allow unlimited batch size or a number to process X number of files per load, not per run -->
    <add key="ContentBatchSize" value="0" />
    <!--Set the below to a 1 to use only the directory listener to find Content files needing update or insert -->
    <add key="UseDirectoryListener" value="0" />
    <!--Set the below to match the file name and path supplied in the Listener app.config -->
    <add key="SQLiteListenerDB" value="c:\SQLiteDB\Listener.db" />
    <!--Set the below to match the file name and path supplied in the Listener app.config. -->
    <add key="DirListenerFilePath" value="c:\EcmLibraryDirListener" />
    <!-- This file contains a list of directories that will be "listened" to MUST BE THE SAME AS IN THE DIRLISTEN CONFIG FILE-->
    <add key="DirsToMonitor" value="c:\EcmLibraryDirListener\DirsToMonitor.dat" />
    <!-- There are times when the Fulltext Indexer Logs must be analyzed - copy the logs to be analyzed to this firectory-->
    <add key="FTILogs" value="g:\FTILogs" />
    <!-- This SQLite DB is used during analysis of FTI failures and analysis. -->
    <add key="FTIAnalysisDB" value="c:\SQLiteDB\FTIAnalysis.db" />
    <!-- FTI failures and analysis can use MEMORY optimized tables or standard DB access methods. Mem Optimized is extremely fast, but requires a lot of RAM. If memory fills up, try setting this to 0 -->
    <add key="UseMemOptTabl" value="1" />
    <!-- Fast Archive is not as quick as the Listener Archive, but is many times faster than the regular Archive. However, it requies an overage of memory as all routines reside and run in memory. -->
    <add key="UseFastScan" value="1" />
    

    <!--CHANGE AS NEEDED if WEB Crawl -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WEBProcessingDir" value="C:\Temp\WebArchive\" />
    <add key="RSSProcessingDir" value="C:\Temp\RSSArchive\" />
    <add key="PdfProcessingDir" value="C:\TempUploads\" />
    <add key="TempProcessingDir" value="C:\TempUploads\" />
    <add key="UploadPath" value="C:\TempUploads" />
    <add key="LogPath" value="C:\Logs" />
    <add key="MoveErrorDir" value="C:\Temp\ECM\ERR_FILES" />
    <add key="ENCPW" value="ylyRBa70eZ4DdNKMpg9Z+Q==" />
    <!-- *********   UDPATE THIS ONE HERE ************** -->
    <add key="FacilityName" value="Picatinny Arsenal" />
    <add key="TrackUploads" value="1" />
    <add key="CustomerName" value="Picatinny Arsenal" />
    <add key="CustomerID" value="PA-001" />
    <!-- *********   UDPATE THIS ONE HERE ************** -->
    <add key="EmailDownLoadSize" value="250" />
    <!-- *********   HIVE DATABASE ************** -->
    <add key="HIVE.DBARCH" value="Data Source=ALIEN15; Initial Catalog=ECM.Hive; Integrated Security=True;  Connect Timeout = 30;" />
    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="HELP.DBARCH" value="bNk5A9GOZlZSKQ3LvNtPFhN4etcAN+GnAyg5jierPJ9M9GF13x+OKU9v+EeuBc4SXY3FwWzlOJ70abvO/1DEAaswUNjiZyQ6sTsqTrfphpHmYc3WNYqkv96jf777lbyD68HVURcLetn7uUVVkAPcQPvSoYKC6tkq" />
    <!-- *********   SET THE FOLLOWING AS NEEDED  ************** -->
    <add key="AutoIncludeSubDirs" value="true" />
    <add key="ArchiverBuildID" value="02/20/2019 Version 3.5.1.25" />
    <add key="ClientOnly" value="0" />
    <!-- ******************************************************* -->
    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <!-- ******************************************************* -->
    <!--Set VerifyEmbeddedZipFiles to 1 to REPOCESS ZIP files as embedded files.
    This is a "safety" run. Reset to zero after the archive.-->
    <add key="VerifyEmbeddedZipFiles" value="0" />
    <add key="UseCommandProcessForInventory" value="0" />
    <add key="TRACEFLOW" value="0" />
    <!--NO SPACES IN DIRECTORY ALLOWED-->
    <add key="EcmCrawlerOuputDirectory" value="C:\TempUpload\Crawler\$Crawler.Ouput.txt" />
    <add key="EcmCrawlerAvailable" value="N" />
    <add key="SpiderCacheDir" value="c:/spiderCache/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DevelopmentReportFolder" value="C:\dev\ECM\EcmLibrary\ReconEmails\" />
    <add key="EmailFolder1" value="Personal Folders" />
    <add key="EmailOrFtp" value="EMAIL" />
    <add key="EmailEncrypted" value="true" />
    <add key="ToEmail" value="dm@dmachicago.com;wdalemiller@gmail.com" />
    <add key="FromEmail" value="support@EcmLibrary.com" />
    <add key="ProcessJpgAsTIF" value="0" />
    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="SmtpHost" value="bG9fvmhOLKV/kHZjCO4XlHWExZ2RyCGa" />
    <add key="SmtpUsername" value="bG9fvmhOLKV/kHZjCO4XlHWExZ2RyCGa" />
    <add key="SmtpPassword" value="iZD6cVx1+YImCbqPcs40bw==" />
    <add key="LoginByMachineIdAndLoginID" value="1" />
    <add key="RegisteredBuildID" value="09/18/2018 3.4.2.9" />
    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <add key="ddebug" value="false" />
    <add key="CaptureSql" value="false" />
    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="FtpSite" value="WWW.ECMLIBRARY.COM" />
    <add key="FtpUserID" value="4zwSGl6T7Pvm0Gr8CoIokQ==" />
    <add key="FtpUserPW" value="dcEQ3xn/KmGHb+ch1llLJw==" />
    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <add key="debug_frmDocSearch" value="0" />
    <add key="debug_frmQuickSearch" value="0" />
    <add key="step_frmQuickSearch" value="0" />
    <!-- Unused -->
    <add key="debug_frmEmailSearch" value="0" />
    <add key="debug_frmReconMain" value="0" />
    <add key="debug_frmQuickArchive" value="0" />
    <add key="debug_frmMetadata" value="0" />
    <add key="debug_clsSql" value="0" />
    <add key="debug_clsDatabase" value="0" />
    <add key="debug_clsSpider" value="0" />
    <add key="EmbededJPGMetadata" value="1" />
    <add key="SQLGEN" value="0" />
    <add key="DaysToKeepTraceLogs" value="3" />
    <!--MandateUserLogin MUST BE SET TO TRUE OR FALSE
        If MandateUserLogin is true, then roaming profiles are in place.
        Else, no roaming profiles and the MACHINE must be registerd in order to log on to the system.-->
    <add key="MandateUserLogin" value="true" />
    <!--MandateSeatLogin MUST BE SET TO TRUE OR FALSE-->
    <add key="MandateSeatLogin" value="false" />
    <!--AutoRegisterMachine - When set to true, authentication will be done automatically.
        A machine will automatically be entered into the system if a seat is available.
        Otherwise, the machine will have to be pre-registered by an admin before login can
        be completed.-->
    <add key="AutoRegisterMachine" value="true" />
    <!--AutoRegisterUser - When set to true, authentication will be done automatically.
        A user (login name) will automatically be entered into the system if a user slot is available.
        Otherwise, the user will have to be pre-registered by an admin and enter their
        login ID and password before login can be completed.-->
    <add key="AutoRegisterUser" value="true" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="ECM_Archiver" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService11" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="262144" maxReceivedMessageSize="262144" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService13" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="262144" maxReceivedMessageSize="262144" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService14" closeTimeout="00:15:00" openTimeout="01:15:00" receiveTimeout="01:15:00" sendTimeout="01:15:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="262144" maxReceivedMessageSize="262144" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" sendTimeout="00:10:00" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IService16" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService17" />
        <binding name="BasicHttpBinding_IService19" />
        <binding name="BasicHttpBinding_IService12" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BlobBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="8192" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <binding name="Soap2GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="262144" transferMode="Streamed" />
        </binding>
        <binding name="Soap4GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="4294967294" maxBufferSize="262144" transferMode="Streamed" />
        </binding>
        <binding name="Soap8GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="8589934588" maxBufferSize="262144" transferMode="Streamed" />
        </binding>
        <binding name="Soap16GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="17179869176" maxBufferSize="262144" transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
    <!--PICA010A0ESX1N3-->
    <!--http://PICA010A0ESX1N3/Archive/SVCCLCArchive.svc-->
    <!--http://PICA010A0ESX1N3/Archivefs/SVCFS.svc-->
    <!--http://PICA010A0ESX1N3/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--ECM Test Server-->
    <!--http://ALIEN15/Archivefs/SVCFS.svc-->
    <!--http://ALIEN15/archive/SVCCLCArchive.svc-->
    <!--http://ALIEN15/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://ALIEN15/Search/SVCSearch.svc-->
    <!--Sweden Test Server WDM-->
    <!--http://195.62.77.43/Archivefs/SVCFS.svc-->
    <!--http://195.62.77.43/archive/SVCCLCArchive.svc-->
    <!--http://195.62.77.43/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://195.62.77.43/Search/SVCSearch.svc-->
    <!--http://localhost:20968/SVCFS.svc-->
    <!--http://localhost:21306/SVCCLCArchive.svc-->
    <!--http://localhost:5360/SVCGateway.svc-->
    <!--http://localhost:59757/SVCSearch.svc-->
    <!--BasicHttpBinding_IService15-->
    <!--<client>
            <endpoint address="http://localhost:54154/SVCFS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="SVCFS.IService1"
                name="BasicHttpBinding_IService1"/>
            <endpoint address="http://localhost:59757/SVCSearch.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService17" contract="SVCSearch.IService1"
                name="BasicHttpBinding_IService13"/>
            <endpoint address="http://localhost:53407/SVCCLCArchive.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService15"
                contract="SVCCLCArchive.IService1" name="BasicHttpBinding_IService12"/>
            <endpoint address="http://localhost:33274/SVCGateway.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService12" contract="SVCGateway.IService1"
                name="BasicHttpBinding_IService11"/>
        </client>-->
    <!--***************************************************************************************************-->
    <client>
      <!--<endpoint address="http://ALIEN15/ECMSaaS/ArchiveFS/SVCFS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="SVCFS.IService1" name="BasicHttpBinding_IService1"/>-->
      <endpoint address="http://ALIEN15/ECMSaaS/SearchSVC/SVCSearch.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="SVCSearch.IService1" name="BasicHttpBinding_IService11" />
      <!--<endpoint address="http://localhost:54154/SVCFS.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="SVCFS.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:59757/SVCSearch.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService12" contract="SVCSearch.IService1"
        name="BasicHttpBinding_IService11" />-->
    </client>
    <!--***************************************************************************************************-->
    <diagnostics>
      <!-- Enable Message Logging here. -->
      <!-- log all messages received or sent at the transport or service model levels -->
      <messageLogging logEntireMessage="false" maxMessagesToLog="300" logMessagesAtServiceLevel="false" logMalformedMessages="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
  </system.serviceModel>
  <userSettings>
    <EcmArchiver.My.MySettings>
      <setting name="UserDefaultConnString" serializeAs="String">
        <value>?</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserThesaurusConnString" serializeAs="String">
        <value>Data Source=T410A/Gina;Initial Catalog=ECM.Hive;Integrated Security=True</value>
      </setting>
      <setting name="DB_EcmLibrary" serializeAs="String">
        <value>Data Source=T410A/Gina;Initial Catalog=ECM.Hive;Integrated Security=True</value>
      </setting>
      <setting name="DB_Thesaurus" serializeAs="String">
        <value>Data Source=T410A/Gina;Initial Catalog=ECM.Hive;Integrated Security=True</value>
      </setting>
      <setting name="User_FacilityName" serializeAs="String">
        <value>Highland Park, Illinois</value>
      </setting>
      <setting name="ProcessJpgAsTIF" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackupIntervalHours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastArchiveEndTime" serializeAs="String">
        <value>04/19/2011 10:08:00</value>
      </setting>
      <setting name="MasterFile" serializeAs="String">
        <value />
      </setting>
      <setting name="MasterConnectionStr" serializeAs="String">
        <value />
      </setting>
      <setting name="UserMasterFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultLoginID" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultLoginPW" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailBodyLength" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="GatewayConnString" serializeAs="String">
        <value>?</value>
      </setting>
    </EcmArchiver.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.851" newVersion="2.0.3.851" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>