<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EcmArchiveClcSetup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="DirDB" connectionString="Data Source=DirDB.sdf;Max Buffer Size=5120;Persist Security Info=False;" />
    <add name="FileDB" connectionString="Data Source=FileDB.sdf;Max Buffer Size=5120;Persist Security Info=False;" />
    <add name="HashDB" connectionString="Data Source=EcmFileStore.sdf;Max Buffer Size=5120;Persist Security Info=False;" />
    <add name="EcmArchiveClcSetup.My.MySettings.ECMHive" connectionString="Data Source=T310;Initial Catalog=ECM.Hive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EcmArchiveClcSetup.My.MySettings.EcmFileStoreConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\EcmFileStore.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.DirDBConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\DirDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.FileDBConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\FileDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.OutlookEmailConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\OutlookEmail.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.ExchangeEmailConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\ExchangeEmail.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.ListenersConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\Listeners.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.DirDBConnectionString1"
      connectionString="Data Source=|DataDirectory|\BackupItems\DirDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.ZipFilesConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\ZipFiles.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EcmArchiveClcSetup.My.MySettings.OutlookContactsConnectionString"
      connectionString="Data Source=|DataDirectory|\CE\OutlookContacts.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>

    <!--ENC.ECM_ThesaurusConnectionString-->
    <!-- *********   Set the REPO instance name here ************** -->
    <add key="RepoNAME" value="ENC.ECMREPO" />
    <add key="AppConfigVerNo" value="11.8.18.1" />
    
    <!--Set UseEncrypted's value to 1 if the encrypted connection string is to be used.-->
    <!--Set UseMasterFile's value to 1 if globally accessible connection file is to be used.-->
    <!--************ Encrypted Strings *********************-->
    <add key="ECMSecureLogin" value="bNk5A9GOZlbQeBTQaD26Km1SnW2zi/EElpR/ag3AeNBAmD2bZY+L32IEoPCk12R4ek8dQIhUN1T59eAAZwOsElJo/mQti5bHSAKfnUcuAuV3MEbOr5qqffybwSbDmRIMuDBxQNVhvbHrwdVRFwt62ZnFOOOiDdKuzoTzZM2aSyw="/>
    <add key="ENC.ECMREPO" value="bNk5A9GOZlbQeBTQaD26Km1SnW2zi/EElpR/ag3AeNBAmD2bZY+L38u9pFbm3Ta039IHYQRNPGFkk7kj3gDsKzGhvae2UDjMXlXzaj/WZwTVvOaHu18GJrSx9Iu4Rg6QQ2KI19KHuRp0ak+Tby5Y4fVUkXk+AlqfwqX4hGkBXDx5g2r9r5jaeJxw0cDLMHnQ/MafBtjRYsw="/>
    <add key="ENC.ECM_ThesaurusConnectionString" value="bNk5A9GOZlbQeBTQaD26Km1SnW2zi/EElpR/ag3AeNBAmD2bZY+L39SD4ggLGQ3Jd2/bJYHRa5saGFjKsjgGp4Yi6KcKonej8qffXYA6dTPjE94y4oskTB4PbP8vC52psZ9gsAjZx63m/lk/irJrV1GyZVo3+IKXh/hpfzWvPk0Gb9lBG+EEUyxF6ke/3xbuRlJWX46y24A=" />
    
    <!--************ NON-Encrypted Strings *********************-->
    <add key="@ECMREPO" value="Data Source=T310;Initial Catalog=PTMS;Persist Security Info=True;User ID=SA;Password=XX01; Connect Timeout = 30"/>
    <add key="ECMREPO" value="Data Source=108.60.211.157;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=pclXXXXXXX1; Connect Timeout = 30;" />
    <add key="xxECMREPO" value="Data Source=dmaptms.db.3591434.hostedresource.com; Initial catalog=dmaptms; User ID=dmaptms;Password='WdmXXXXX'; Connect Timeout = 45;"/>
    <add key="yyECMREPO" value="Data Source=HP8GB\EcmLibrary;Initial Catalog=PTMS;Persist Security Info=True;User ID=ecmlibrary;Password=Junebug1; Connect Timeout = 30"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <!--Set the below value to 1 if the encrypted connection string is to be used.-->
    <add key="UseEncrypted" value="1"/>
    <add key="UseMasterFile" value="0"/>
    <add key="UseRemoteServer" value="1"/>

    <!--CHANGE AS NEEDED-->
    <add key="WEBProcessingDir" value="C:\Temp\WebArchive\" />
    <add key="RSSProcessingDir" value="C:\Temp\RSSArchive\" />
    <add key="PdfProcessingDir" value="C:\TempUploads\" />
    <add key="TempProcessingDir" value="C:\TempUploads\" />
    <add key="UploadPath" value="C:\TempUploads" />
    <add key="LogPath" value="C:\Logs" />
    <add key="MoveErrorDir" value="C:\Temp\ECM\ERR_FILES" />
    
    <!-- *********   UDPATE THIS ONE HERE ************** -->
    <add key="FacilityName" value="Highland Park" />
    <add key="TrackUploads" value="1" />
    
    <!-- *********   UDPATE THIS ONE HERE ************** -->
    <add key="EmailDownLoadSize" value="250" />
    <add key="xxECM_ThesaurusConnectionString" value="Data Source=T310;Initial Catalog=ECM.Thesaurus;Persist Security Info=True;User ID=ecmlibrary;Password=Junebug1; Connect Timeout = 30" />
    <add key="xxCONN_DMA.DB" value="Data Source=T310;Initial Catalog=ECM.Library;Persist Security Info=True;User ID=ecmlibrary;Password=Junebug1; Connect Timeout = 30" />
    <add key="yyECM_ThesaurusConnectionString" value="Data Source=T310; Initial Catalog=ECM.Thesaurus; Integrated Security=True;  Connect Timeout = 10;" />
    <add key="ECM_ThesaurusConnectionString" value="Data Source=108.60.211.157;Initial Catalog=ECM.Thesaurus;Persist Security Info=True;User ID=ecmlibrary;Password=pclJunebug1; Connect Timeout = 30;" />
    <add key="zzCONN_DMA.DB" value="Data Source=sfecm;Initial Catalog=ECM.Library;Persist Security Info=True;User ID=ecmlibrary;Password=XXXX; Connect Timeout = 30" />
    
    <!-- *********   HIVE DATABASE ************** -->
    <add key="xxHIVE.DB" value="Data Source=T310;Initial Catalog=ECM.Hive;Persist Security Info=True;User ID=ecmlibrary;Password=Junebug1; Connect Timeout = 30" />
    <add key="HIVE.DB" value="Data Source=T310; Initial Catalog=ECM.Hive; Integrated Security=True;  Connect Timeout = 30;" />
    
    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="HELP.DB" value="bNk5A9GOZlZSKQ3LvNtPFhN4etcAN+GnAyg5jierPJ9M9GF13x+OKU9v+EeuBc4SXY3FwWzlOJ70abvO/1DEAaswUNjiZyQ6sTsqTrfphpHmYc3WNYqkv96jf777lbyD68HVURcLetn7uUVVkAPcQPvSoYKC6tkq" />
    
    <!-- *********   SET THE FOLLOWING AS NEEDED  ************** -->
    <add key="AutoIncludeSubDirs" value="true" />
    <add key="ArchiverBuildID" value="03/20/2011 Version 2.3.1.25" />
    <add key="ClientOnly" value="0" />

    <!-- ******************************************************* -->
    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <!-- ******************************************************* -->
    <!--Set VerifyEmbeddedZipFiles to 1 to REPOCESS ZIP files embedded files. 
    This is a "safety" run. Reset to zero after the archive.-->
    <add key="VerifyEmbeddedZipFiles" value="0" />
    <add key="UseCommandProcessForInventory" value="0" />
    
    <!--NO SPACES IN DIRECTORY ALLOWED-->
    <add key="EcmCrawlerOuputDirectory" value="C:\TempUpload\Crawler\$Crawler.Ouput.txt" />
    <add key="EcmCrawlerAvailable" value="Y" />
    <add key="SpiderCacheDir" value="c:/spiderCache/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DevelopmentReportFolder" value="C:\dev\ECM\EcmLibrary\ReconEmails\" />
    <add key="EmailFolder1" value="Personal Folders" />
    <add key="EmailOrFtp" value="EMAIL" />
    <add key="EmailEncrypted" value="true" />
    <add key="ToEmail" value="dm@dmachicago.com;garnand.liz@gmail.com" />
    <add key="FromEmail" value="support@EcmLibrary.com" />
    <add key="ProcessJpgAsTIF" value="0" />
    
    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="SmtpHost" value="Tarc7+yH9UOQa1hOkLylge50KenwVCAP" />
    <add key="SmtpUsername" value="3yxtri1pyZ80zhxnbZV678AzfywUR6SHZnBUNXOtxks=" />
    <add key="SmtpPassword" value="TrV3Y2Lkzqr8Remo1wUdMQ==" />
    <add key="LoginByMachineIdAndLoginID" value="1" />
    <add key="RegisteredBuildID" value="12/25/2010 2.3.1.1" />
    
    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <add key="dDebug" value="true" />
    <add key="CaptureSql" value="true" />
    
    <!-- *********   LEAVE THIS ONE ALONE ************** -->
    <add key="FtpSite" value="www.javamasters.net" />
    <add key="FtpUserID" value="4zwSGl6T7Pvm0Gr8CoIokQ==" />
    <add key="FtpUserPW" value="XSlPjE9RX+j8Remo1wUdMQ==" />
    
    <!-- *********   SET THS FOLLOWING AS NEEDED  ************** -->
    <add key="debug_frmDocSearch" value="0" />
    <add key="debug_frmQuickSearch" value="0" />
    <add key="step_frmQuickSearch" value="0" />
    
    <!-- Unused -->
    <add key="debug_frmEmailSearch" value="0" />
    <add key="debug_frmReconMain" value="0" />
    <add key="debug_frmQuickArchive" value="0" />
    <add key="debug_frmMetadata" value="0" />
    <add key="debug_clsSql" value="0" />
    <add key="debug_clsDatabase" value="0" />
    <add key="debug_clsSpider" value="0" />
    <add key="EmbededJPGMetadata" value="1" />
    <add key="SQLGEN" value="0" />
    <add key="DaysToKeepTraceLogs" value="3" />
    <!--MandateUserLogin MUST BE SET TO TRUE OR FALSE
        If MandateUserLogin is true, then roaming profiles are in place.
        Else, no roaming profiles and the MACHINE must be registerd in order to log on to the system.-->
    <add key="MandateUserLogin" value="true" />
    
    <!--MandateSeatLogin MUST BE SET TO TRUE OR FALSE-->
    <add key="MandateSeatLogin" value="false" />
    
    <!--AutoRegisterMachine - When set to true, authentication will be done automatically.
        A machine will automatically be entered into the system if a seat is available.
        Otherwise, the machine will have to be pre-registered by an admin before login can
        be completed.-->
    <add key="AutoRegisterMachine" value="true" />
    
    <!--AutoRegisterUser - When set to true, authentication will be done automatically.
        A user (login name) will automatically be entered into the system if a user slot is available.
        Otherwise, the user will have to be pre-registered by an admin and enter their
        login ID and password before login can be completed.-->
    <add key="AutoRegisterUser" value="true" />
    
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService11" closeTimeout="01:10:00"
          openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="262144" maxBufferPoolSize="524288" maxReceivedMessageSize="262144"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService13" closeTimeout="00:15:00"
          openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="262144" maxBufferPoolSize="524288" maxReceivedMessageSize="262144"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService14" closeTimeout="00:15:00"
          openTimeout="01:15:00" receiveTimeout="01:15:00" sendTimeout="01:15:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="262144" maxBufferPoolSize="524288" maxReceivedMessageSize="262144"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService16" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService15" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService12" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService17" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="BlobBinding" closeTimeout="01:00:00" openTimeout="01:00:00"
          receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="8192" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="Soap2GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="262144"
            transferMode="Streamed" />
        </binding>
        <binding name="Soap4GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="4294967294" maxBufferSize="262144"
            transferMode="Streamed" />
        </binding>
        <binding name="Soap8GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="8589934588" maxBufferSize="262144"
            transferMode="Streamed" />
        </binding>
        <binding name="Soap16GB">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport maxReceivedMessageSize="17179869176" maxBufferSize="262144"
            transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
    
    <!--PICA010A0ESX1N3-->
    <!--http://PICA010A0ESX1N3/Archive/SVCCLCArchive.svc-->
    <!--http://PICA010A0ESX1N3/Archivefs/SVCFS.svc-->
    <!--http://PICA010A0ESX1N3/SecureAttachAdminSvc/SVCGateway.svc-->

    <!--http://108.61.17.163/Archivefs/SVCFS.svc-->    
    <!--http://108.61.17.163/archive/SVCCLCArchive.svc-->
    <!--http://108.61.17.163/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://108.61.17.163/Search/SVCSearch.svc-->
    
    <!--http://localhost:20968/SVCFS.svc-->
    <!--http://localhost:21306/SVCCLCArchive.svc-->
    <!--http://localhost:5360/SVCGateway.svc-->
    <!--http://localhost:59757/SVCSearch.svc-->
    
    <!--BasicHttpBinding_IService15-->
    
    <client>
      <endpoint address="http://108.61.17.163/Archivefs/SVCFS.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="SVCFS.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://108.61.17.163/archive/SVCCLCArchive.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService15"
        contract="SVCCLCArchive.IService1" name="BasicHttpBinding_IService12" />
      <endpoint address="http://108.61.17.163/SecureAttachAdminSvc/SVCGateway.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService12" contract="SVCGateway.IService1"
        name="BasicHttpBinding_IService11" />
      <endpoint address="http://108.61.17.163/Search/SVCSearch.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService17" contract="SVCSearch.IService1"
        name="BasicHttpBinding_IService13" />
    </client>
    
    <diagnostics>
      <!-- Enable Message Logging here. -->
      <!-- log all messages received or sent at the transport or service model levels -->
      <messageLogging logEntireMessage="false"
                      maxMessagesToLog="300"
                      logMessagesAtServiceLevel="false"
                      logMalformedMessages="false"
                      logMessagesAtTransportLevel="false" />
    </diagnostics>      
  </system.serviceModel>
  <userSettings>
    <EcmArchiveClcSetup.My.MySettings>
      <setting name="UserDefaultConnString" serializeAs="String">
        <value>?</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserThesaurusConnString" serializeAs="String">
        <value>Data Source=T310;Initial Catalog=ECM.Hive;Integrated Security=True</value>
      </setting>
      <setting name="DB_EcmLibrary" serializeAs="String">
        <value>Data Source=T310;Initial Catalog=ECM.Hive;Integrated Security=True</value>
      </setting>
      <setting name="DB_Thesaurus" serializeAs="String">
        <value>Data Source=T310;Initial Catalog=ECM.Hive;Integrated Security=True</value>
      </setting>
      <setting name="User_FacilityName" serializeAs="String">
        <value>Highland Park, Illinois</value>
      </setting>
      <setting name="ProcessJpgAsTIF" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackupIntervalHours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastArchiveEndTime" serializeAs="String">
        <value>04/19/2011 10:08:00</value>
      </setting>
      <setting name="MasterFile" serializeAs="String">
        <value />
      </setting>
      <setting name="MasterConnectionStr" serializeAs="String">
        <value />
      </setting>
      <setting name="UserMasterFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultLoginID" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultLoginPW" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailBodyLength" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="GatewayConnString" serializeAs="String">
        <value>?</value>
      </setting>
    </EcmArchiveClcSetup.My.MySettings>
  </userSettings>
</configuration>