/****** Script for SelectTopNRows command from SSMS  ******/

/*
proc_UpdateEligibilityDataFromMPI

Pull all MPI data that has PASSED and apply to this table. 
RunID RowNbr
MERGE

UPDATE this data with the returned and revalidated MPI 

- The FIRST RUN on this file is sent SOMEWHERE - who knows
- All subsequent runs are ignored until the last (all validated)
- The Last Run - (ALL Validated MPIs) is sent somewhere too ??????

Sent to Oracle and to Platform

*/


SELECT TOP 1000 [RUNID]
      ,[RowNbr]
      ,[EligID]
      ,[ClientID]
      ,[Elig_GUID]
      ,[MPI]
      ,[PRIMARY_MPI]
      ,[MATCH_METHOD_CODE]
      ,[IDCARD]
      ,[MEMBER_ID]
      ,[IMPORT_DATE]
      ,[FILE_DATE]
      ,[ISACTIVE]
      ,[HashKEY]
      ,[HASHDATA]
      ,[LAST_NAME_SOURCE]
      ,[LAST_NAME_A_STND]
      ,[LAST_NAME_B_STND]
      ,[NAME_SUFFIX_STND]
      ,[FIRST_NAME_SOURCE]
      ,[FIRST_NAME_A_STND]
      ,[FIRST_NAME_B_STND]
      ,[MIDDLE_INITIAL]
      ,[RELATIONSHIP_SOURCE]
      ,[RELATIONSHIP_STANDARDIZED]
      ,[DOB]
      ,[GENDER_SOURCE]
      ,[GENDER_STANDARDIZED]
      ,[ADDRESS1_SOURCE]
      ,[ADDRESS1_STANDARDIZED]
      ,[ADDRESS2_SOURCE]
      ,[ADDRESS2_STANDARDIZED]
      ,[CITY_SOURCE]
      ,[CITY_STANDARDIZED]
      ,[STATE_SOURCE]
      ,[STATE_STANDARDIZED]
      ,[ZIP_SOURCE]
      ,[ZIP_STANDARDIZED]
      ,[ZIP_4_STANDARDIZED]
      ,[SSN_SOURCE]
      ,[SSN_STANDARDIZED]
      ,[EMPLOYEE_SSN_SOURCE]
      ,[EMPLOYEE_SSN_STANDARDIZED]
      ,[HOME_PHONE_SOURCE]
      ,[HOME_PHONE_STANDARDIZED]
      ,[WORK_PHONE_SOURCE]
      ,[WORK_PHONE_STANDARDIZED]
      ,[MOBILE_PHONE_SOURCE]
      ,[MOBILE_PHONE_STANDARDIZED]
      ,[EMAIL]
      ,[DIVISION]
      ,[LOCATION_CODE]
      ,[LOCATION_NAME]
      ,[COMPANY_CODE]
      ,[COMPANY_NAME]
      ,[DEPARTMENT_CODE]
      ,[DEPARTMENT_NAME]
      ,[CLIENT_NAME]
      ,[PLATFORM_ELIGIBLE]
      ,[PLATFORM_INELIGIBLE_REASON]
      ,[HRA_ELIGIBLE]
      ,[HRA_INELIGIBLE_REASON]
      ,[LM_ELIGIBLE]
      ,[LM_INELIGIBLE_REASON]
      ,[INCENTIVE_ELIGIBLE]
      ,[INCENTIVE_INELIGIBLE_REASON]
      ,[CM_ELIGIBLE]
      ,[CM_INELIGIBLE_REASON]
      ,[ADVOCACY_ELIGIBLE]
      ,[ADVOCACY_INELIGIBLE_REASON]
      ,[MAIL_UNIT]
      ,[PAYGROUP]
      ,[PAY_CODE]
      ,[FILE_NUM]
      ,[HOURLYSALARY]
      ,[EXEMPT]
      ,[UNION_CODE]
      ,[ADJUSTED_HIRE_DATE]
      ,[HIRE_DATE]
      ,[TERM_DATE]
      ,[RETIREE_DATE]
      ,[PLAN_START_DATE]
      ,[PLAN_END_DATE]
      ,[PLAN_ID]
      ,[PLAN_NAME]
      ,[PLAN_DESC]
      ,[PLAN_TYPE]
      ,[BENEFIT_GROUP]
      ,[BENEFIT_STATUS]
      ,[JOB_CODE]
      ,[JOB_TITLE]
      ,[TEAM_NAME]
      ,[MARITAL_STATUS]
      ,[PERSON_TYPE]
      ,[PERSON_STATUS]
      ,[EMPLOYEE_TYPE]
      ,[EMPLOYEE_STATUS]
      ,[COVERAGE_TYPE]
      ,[COV_LIMIT_CODE]
      ,[WORK_IND]
      ,[CLAIM_BRANCH]
      ,[REIMBURSEMENT]
      ,[EARN_CODE]
      ,[PHYSICAL_LOCATION]
      ,[BARGAIN_NON_BARGAIN]
      ,[BUSINESS_LEADER_1]
      ,[BUSINESS_LEADER_2]
      ,[BUSINESS_LEADER_3]
      ,[BUSINESS_LEADER_4]
      ,[BUSINESS_LEADER_5]
      ,[WORK_STATE]
      ,[ACCOUNT_NUM]
      ,[SUBGROUP]
      ,[GROUP_NAME]
      ,[PACKAGE_NUM]
      ,[CONTRACT_NUM]
      ,[LINE_OF_BUSINESS]
      ,[PCP_NUM]
      ,[RENEWAL_MONTH]
      ,[RESET_MONTH]
      ,[RISK_CLASS]
      ,[MEDICARE_IND]
      ,[DM_IND]
      ,[TOP_3PERCENT_DM]
      ,[SEC_COVERAGE]
      ,[TOBACCO_IND]
      ,[CUSTOM1_DESC]
      ,[CUSTOM1]
      ,[CUSTOM2_DESC]
      ,[CUSTOM2]
      ,[CUSTOM3_DESC]
      ,[CUSTOM3]
      ,[CUSTOM4_DESC]
      ,[CUSTOM4]
      ,[CUSTOM5_DESC]
      ,[CUSTOM5]
      ,[LastModifiedDate]
      ,[CreateDate]
  FROM [Viper].[dbo].[ELIGIBILITY_MPI_TEMP]