<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <!--
    ECM2016
    97.76.174.190
    -->
  <connectionStrings>
    <!--<add name="ECMFS" connectionString="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmuser;Password=@@PW@@" providerName="System.Data.SqlClient"/>-->
    <add name="ECMFS" connectionString="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmuser;Password=@@PW@@"/>
  </connectionStrings>
  <appSettings>
    <add key="ECMFS" value="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmuser;Password=@@PW@@"/>
    <add key="TEMPDIR" value="C:\TEMPFILES"/>
    <add key="LOGDIR" value="C:\ECMLOGS"/>
    <!--Set this password using the ECM Encryption Program-->
    <add key="ENCPW" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>
    <!--
    The Values for OcrMethod are:
      MODI - Use the MODI engine and this will be eliminated in 2020 - Office 2007 MODI must be installed on the server
      IRON - Use the IRON method and this will eventually be replaced with Tesseract, this is standalone.
      ONENOTE - Use the ONENOTE Ocr engine which One Note needs to be installed on the server, but works best
    -->
    <add key="OcrMethod" value="ONENOTE"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DebugOn" value="0"/>
    <add key="VerNO" value="4.9.2.14"/>
    <add key="MAXOCRSIZE" value="200000000"/>
    <!--Set BatchSize to 0 to process ALL pending files , Else set to the desired number of files to process in a single batch.-->
    <add key="BatchSize" value="50"/>
    <!--Set TraceON to 1 to initiate trace to console, to 0 to turn trace off -->
    <add key="TraceON" value="1"/>         
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
