
declare @DBName nvarchar(1000) = 'BNYUK%' ;
declare @CutOffTime int = 15000 ;
declare @RunID int = 87 ;

SELECT TOP 100 'CPU' as TypeRun,  [SVRName]
      ,[DBName]
      ,[text]
      ,[query_plan]
      ,[sql_handle]
      ,[statement_start_offset]
      ,[statement_end_offset]
      ,[plan_generation_num]
      ,[plan_handle]
      ,[creation_time]
      ,[last_execution_time]
      ,[execution_count]
      ,[total_worker_time]
	  ,cast([total_worker_time] * [execution_count] / 1000 as decimal(10,3)) as TotExecutionsTimeMS
      ,[last_worker_time]
      ,[min_worker_time]
      ,[max_worker_time]
      ,[total_physical_reads]
      ,[last_physical_reads]
      ,[min_physical_reads]
      ,[max_physical_reads]
      ,[total_logical_writes]
      ,[last_logical_writes]
      ,[min_logical_writes]
      ,[max_logical_writes]
      ,[total_logical_reads]
      ,[last_logical_reads]
      ,[min_logical_reads]
      ,[max_logical_reads]
      ,[total_clr_time]
      ,[last_clr_time]
      ,[min_clr_time]
      ,[max_clr_time]
      ,[total_elapsed_time]
      ,[last_elapsed_time]
      ,[min_elapsed_time]
      ,[max_elapsed_time]
      ,[query_hash]
      ,[query_plan_hash]
      ,[total_rows]
      ,[last_rows]
      ,[min_rows]
      ,[max_rows]
      ,[RunDate]
      ,[RunID]
  FROM [master].[dbo].[DFS_CPU_BoundQry2000]
  where RunID = @RunID
  and DBName like @DBName
  and total_worker_time > @CutOffTime
union ALL
SELECT TOP 100 'IO' as TypeRun, [SVRName]
      ,[DBName]
      ,[text]
      ,[query_plan]
      ,[sql_handle]
      ,[statement_start_offset]
      ,[statement_end_offset]
      ,[plan_generation_num]
      ,[plan_handle]
      ,[creation_time]
      ,[last_execution_time]
      ,[execution_count]
      ,[total_worker_time]
	  ,cast([total_worker_time] * [execution_count] / 1000 as decimal(10,3)) as TotExecutionsTimeMS
      ,[last_worker_time]
      ,[min_worker_time]
      ,[max_worker_time]
      ,[total_physical_reads]
      ,[last_physical_reads]
      ,[min_physical_reads]
      ,[max_physical_reads]
      ,[total_logical_writes]
      ,[last_logical_writes]
      ,[min_logical_writes]
      ,[max_logical_writes]
      ,[total_logical_reads]
      ,[last_logical_reads]
      ,[min_logical_reads]
      ,[max_logical_reads]
      ,[total_clr_time]
      ,[last_clr_time]
      ,[min_clr_time]
      ,[max_clr_time]
      ,[total_elapsed_time]
      ,[last_elapsed_time]
      ,[min_elapsed_time]
      ,[max_elapsed_time]
      ,[query_hash]
      ,[query_plan_hash]
      ,[total_rows]
      ,[last_rows]
      ,[min_rows]
      ,[max_rows]
      ,[RunDate]
      ,[RunID]
  FROM [master].[dbo].[DFS_IO_BoundQry2000]
  where RunID = @RunID
  and DBName like 'BNYUK%'
  and total_worker_time > @CutOffTime
  order by total_worker_time desc, [RunDate] desc, TypeRun