/****** Script for SelectTopNRows command from SSMS  ******/
SELECT word, [ss_type]      
  FROM [WordNet].[dbo].[wn_synset]
  where word like 'conundrumize'
-- W. Dale Miller
-- DMA, Limited
-- Offered under GNU License
-- July 26, 2016

-- W. Dale Miller
-- DMA, Limited
-- Offered under GNU License
-- July 26, 2016
