
go
print 'Executing func_EDW_fetchHaData.sql ';
go
USE KenticoCMS_DataMart
GO

begin try
    drop function func_EDW_fetchHaData ;
end try
begin catch 
    print 'Dropped func_EDW_fetchHaData';
end catch
go

/****** Object:  UserDefinedFunction [dbo].[func_EDW_fetchHaData]    Script Date: 8/2/2015 7:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create FUNCTION [dbo].[func_EDW_fetchHaData](@CTVersionID as int)
RETURNS TABLE
AS
RETURN SELECT
         UserStartedITEMID
     , HEALTHASSESMENTUserStartedNODEGUID 
     , USERID 
     , USERGUID 
     , HFITUSERMPINUMBER 
     , SITEGUID 
     , ACCOUNTID 
     , ACCOUNTCD 
     , ACCOUNTNAME 
     , HASTARTEDDT 
     , HACOMPLETEDDT 
     , USERMODULEITEMID 
     , USERMODULECODENAME 
     , HAMODULENODEGUID 
     , CMSNODEGUID 
     , HAMODULEVERSIONID 
     , USERRISKCATEGORYITEMID 
     , USERRISKCATEGORYCODENAME 
     , HARISKCATEGORYNODEGUID 
     , HARISKCATEGORYVERSIONID 
     , USERRISKAREAITEMID 
     , USERRISKAREACODENAME 
     , HARISKAREANODEGUID 
     , HARISKAREAVERSIONID 
     , USERQUESTIONITEMID 
     , TITLE 
     , HAQUESTIONGUID 
     , USERQUESTIONCODENAME 
     , HAQUESTIONDOCUMENTID 
     , HAQUESTIONVERSIONID 
     , HAQUESTIONNODEGUID 
     , USERANSWERITEMID 
     , HAANSWERNODEGUID 
     , HAANSWERVERSIONID 
     , USERANSWERCODENAME 
     , HAANSWERVALUE 
     , HAMODULESCORE 
     , HARISKCATEGORYSCORE 
     , HARISKAREASCORE 
     , HAQUESTIONSCORE 
     , HAANSWERPOINTS 
     , POINTRESULTS 
     , UOMCODE 
     , HASCORE 
     , MODULEPREWEIGHTEDSCORE 
     , RISKCATEGORYPREWEIGHTEDSCORE 
     , RISKAREAPREWEIGHTEDSCORE 
     , QUESTIONPREWEIGHTEDSCORE 
     , QUESTIONGROUPCODENAME 
     , ITEMCREATEDWHEN 
     , ITEMMODIFIEDWHEN 
     , ISPROFESSIONALLYCOLLECTED 
     , HARISKCATEGORY_ITEMMODIFIEDWHEN 
     , HAUSERRISKAREA_ITEMMODIFIEDWHEN 
     , HAUSERQUESTION_ITEMMODIFIEDWHEN 
     , HAUSERANSWERS_ITEMMODIFIEDWHEN 
     , HAPAPERFLG 
     , HATELEPHONICFLG 
     , HASTARTEDMODE 
     , HACOMPLETEDMODE 
     , DOCUMENTCULTURE_VHCJ 
     , DOCUMENTCULTURE_HAQUESTIONSVIEW 
     , CAMPAIGNNODEGUID 
     , HACAMPAIGNID 
     , HASHCODE 
     , PKHASHCODE 
     , CHANGED_FLG 
     --, LastModifiedDATE 
     , HEALTHASSESSMENTTYPE 
     , HAUserStarted_LASTMODIFIED 
     , CMSUSER_LASTMODIFIED 
     , USERSETTINGS_LASTMODIFIED 
     , USERSITE_LASTMODIFIED 
     , CMSSITE_LASTMODIFIED 
     , ACCT_LASTMODIFIED 
     , HAUSERMODULE_LASTMODIFIED 
     , VHCJ_LASTMODIFIED 
     --, VHAJ_LASTMODIFIED 
     , HARISKCATEGORY_LASTMODIFIED 
     , HAUSERRISKAREA_LASTMODIFIED 
     , HAUSERQUESTION_LASTMODIFIED 
     , HAQUESTIONSVIEW_LASTMODIFIED 
     , HAUSERQUESTIONGROUPRESULTS_LASTMODIFIED 
     , HAUSERANSWERS_LASTMODIFIED 
     , HAUserStarted_LastUpdateID 
     , CMSUSER_LastUpdateID 
     , USERSETTINGS_LastUpdateID 
     , USERSITE_LastUpdateID 
     , ACCT_LastUpdateID 
     , HAUSERMODULE_LastUpdateID 
     , VHCJ_LastUpdateID 
     --, VHAJ_LastUpdateID 
     , HARISKCATEGORY_LastUpdateID 
     , HAUSERRISKAREA_LastUpdateID 
     , HAUSERQUESTION_LastUpdateID 
     , HAQUESTIONSVIEW_LastUpdateID 
     , HAUSERQUESTIONGROUPRESULTS_LastUpdateID 
     , HAUSERANSWERS_LastUpdateID 
     , LASTUPDATEID 
     , DELETEFLG 
     , SVR 
     , DBNAME 
     , DELETEDFLG , LastModifiedDate
from 
view_EDW_PullHAData_NoCT
where 
 HAUserStarted_LastUpdateID >= @CTVersionID
        OR  CMSUSER_LastUpdateID >= @CTVersionID
        OR  USERSETTINGS_LastUpdateID >= @CTVersionID
        OR  USERSITE_LastUpdateID >= @CTVersionID
        --OR  ACCT_LastUpdateID >= @CTVersionID
        OR  HAUSERMODULE_LastUpdateID >= @CTVersionID
        OR  VHCJ_LastUpdateID >= @CTVersionID
        --OR  VHAJ_LastUpdateID >= @CTVersionID
        OR  HARISKCATEGORY_LastUpdateID >= @CTVersionID
        OR  HAUSERRISKAREA_LastUpdateID >= @CTVersionID
        OR  HAUSERQUESTION_LastUpdateID >= @CTVersionID
        OR  HAQUESTIONSVIEW_LastUpdateID >= @CTVersionID
        OR  HAUSERQUESTIONGROUPRESULTS_LastUpdateID >= @CTVersionID
        OR  HAUSERANSWERS_LastUpdateID >= @CTVersionID

go
print 'Executing func_EDW_fetchHaData.sql ';
go

