/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [POINTRESULTS]
      ,[CODENAME]
      ,[HARISKAREAITEMID]
      ,[LASTUPDATEID]
      ,[LASTLOADEDDATE]
      ,[SVR]
      ,[DBNAME]
      ,[DELETEDFLG]
      ,[ITEMID]
      ,[LASTMODIFIEDWHEN]
      ,[LastModifiedDate]
      ,[RowNbr]
      ,[TimeZone]
      ,[ConvertedToCentralTime]
      ,[HashCode]
  FROM [KenticoCMS_DataMart].[dbo].[FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS]

/****** Object:  Index [PI_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS]    Script Date: 12/14/2015 9:47:55 AM ******/
DROP INDEX [PI_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS] ON [dbo].[FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS]
GO
/****** Object:  Index [PI_FACT_HAUSERQUESTIONGROUPRESULTS]    Script Date: 12/14/2015 9:47:37 AM ******/
DROP INDEX [PI_FACT_HAUSERQUESTIONGROUPRESULTS] ON [dbo].[FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS]
GO


alter table FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS
alter column ItemID int NOT NULL
alter table FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS
alter column SVR nvarchar(100) NOT NULL
alter table FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS
alter column DBNAME nvarchar(100) NOT NULL

alter table FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS
ADD CONSTRAINT [PK_FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS]
PRIMARY KEY CLUSTERED
(
SVR, DBNAME, [ITEMID] --, HARISKAREAITEMID
)

	   ALTER TABLE FACT_EDW_HFit_HealthAssesmentUserQuestionGroupResults
	   ENABLE CHANGE_TRACKING
	   WITH (TRACK_COLUMNS_UPDATED = ON)



/****** Object:  Index [PI_FACT_HAUSERQUESTIONGROUPRESULTS]    Script Date: 12/14/2015 9:47:37 AM ******/
CREATE NONCLUSTERED INDEX [PI_FACT_HAUSERQUESTIONGROUPRESULTS] ON [dbo].[FACT_EDW_HFIT_HEALTHASSESMENTUSERQUESTIONGROUPRESULTS]
(
	[HARISKAREAITEMID] ASC,
	[SVR] ASC,
	[DBNAME] ASC
)
INCLUDE ( 	[ITEMID],
	[POINTRESULTS],
	[CODENAME]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
USE [KenticoCMS_DataMart]
GO

