USE [DataMartPlatform];
GO

/****** Object:  StoredProcedure [dbo].[proc_view_SIEBEL_ClinicalIndicators]    Script Date: 11/26/2016 11:50:56 AM ******/

-- truncate table BASE_view_SIEBEL_ClinicalIndicators
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
-- EXEC proc_view_SIEBEL_ClinicalIndicators ; 
ALTER PROCEDURE dbo.proc_view_SIEBEL_ClinicalIndicators (@ReloadALL AS int = 0) 
AS
BEGIN
    BEGIN

        DECLARE
               @iCnt int = 0
             , @msg varchar (250) = '';
        SET @iCnt = (SELECT COUNT (*)
                       FROM TEMP_SIEBEL_ClinicalIndicators) ;
        IF @iCnt = 0
            BEGIN
                PRINT 'NO Records found to process in the staging table, TEMP_SIEBEL_ClinicalIndicators.';
                EXEC ADD_ClinicalIndicators_LOG 'NO Records found to process in the staging table, TEMP_SIEBEL_ClinicalIndicators.';
                PRINT 'Returning...';
                RETURN;
            END; 

        -- This procedure, proc_view_SIEBEL_ClinicalIndicators, is generated by proc_GenBaseTableFromView. On Jun 24 2016  4:11PM.
        -- For changes to this procedure, please change the generator and regen the proc(s).
        -- Author:    W. Dale Miller
        -- Contact:   WDaleMiller@gmail.com

        SET NOCOUNT ON;
        --IF OBJECT_ID ('TEMP_SIEBEL_ClinicalIndicators') IS NOT NULL
        --    BEGIN
        --        DROP TABLE TEMP_SIEBEL_ClinicalIndicators;
        --    END; 

        -- from @Tbl_DLL
        IF NOT EXISTS (SELECT name
                         FROM sys.tables
                         WHERE name = 'BASE_view_SIEBEL_ClinicalIndicators') 
            BEGIN
                CREATE TABLE BASE_view_SIEBEL_ClinicalIndicators (HBA1C datetime
                                                                , CHOLESTEROL datetime
                                                                , MICROALBUMINDATE datetime
                                                                , FOOTEXAMDATE datetime
                                                                , LST2WKSDEPRESSEDHOPELESS nvarchar (50) 
                                                                , LST2WKSINTERESTPLEASURE nvarchar (50) 
                                                                , LST2WKSNERVOUSANXIOUS nvarchar (50) 
                                                                , LST2WKSSTOPCONTROLLWORRY nvarchar (50) 
                                                                , AVERAGEPAINLEVEL int
                                                                , HEIGHT nvarchar (50) 
                                                                , WEIGHT int
                                                                , LAST_UPD datetime
                                                                , ROW_ID nvarchar (50) 
                                                                , MPI nvarchar (50) 
                                                                , CAREPLANCOMPLIANCE nvarchar (50) 
                                                                , FLUSHOTDATE datetime
                                                                , EYE_EXAM_DATE datetime
                                                                , SurrogateKey_view_SIEBEL_ClinicalIndicators int IDENTITY (1, 1) 
                                                                                                                  NOT NULL
                                                                , FtpFileSource varchar (256) NULL
                                                                , HashCode nvarchar (100) NULL) ;

                CREATE INDEX PI_view_SIEBEL_ClinicalIndicators ON BASE_view_SIEBEL_ClinicalIndicators (ROW_ID, MPI) ;
            END;    --begin

        -- from @InsertIntoDDL
        DECLARE
               @NbrRecs bigint = 0;
        IF @ReloadAll = 1
            BEGIN
                DELETE FROM BASE_view_SIEBEL_ClinicalIndicators;
            END;    --Begin
        --select count(*) from BASE_view_SIEBEL_ClinicalIndicators
        --select count(*) from TEMP_SIEBEL_ClinicalIndicators

        -- Remove all records from the BASE table that are not in CURRENT records in the view 
        SET @msg = 'DELETE START: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

        WITH CTE (MPI
        --, ROW_ID
        )
            AS (SELECT MPI
                --, ROW_ID
                  FROM BASE_view_SIEBEL_ClinicalIndicators
                EXCEPT
                SELECT MPI
                --, ROW_ID
                  FROM TEMP_SIEBEL_ClinicalIndicators) 
            DELETE STAGETBL
              FROM BASE_view_SIEBEL_ClinicalIndicators AS STAGETBL
                   INNER JOIN
                   CTE AS C
                   ON C.MPI = STAGETBL.MPI;
        --AND C.ROW_ID = STAGETBL.ROW_ID ;

        SET @NbrRecs = @@ROWCOUNT;
        PRINT 'REMOVED : ' + CAST (@NbrRecs AS nvarchar (50)) + ' records in BASE_view_SIEBEL_ClinicalIndicators ';
        SET @msg = 'REMOVED : ' + CAST (@NbrRecs AS nvarchar (50)) + ' records in BASE_view_SIEBEL_ClinicalIndicators ';
        EXEC ADD_ClinicalIndicators_LOG @msg;
        SET @msg = 'DELETE END: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;


        SET @msg = 'INSERT START: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;
        WITH CTE (MPI
        --, ROW_ID
        )
            AS (SELECT MPI
                --, ROW_ID
                  FROM TEMP_SIEBEL_ClinicalIndicators
                EXCEPT
                SELECT MPI
                --, ROW_ID
                  FROM BASE_view_SIEBEL_ClinicalIndicators) 
            INSERT INTO BASE_view_SIEBEL_ClinicalIndicators (HBA1C
                                                           , CHOLESTEROL
                                                           , MICROALBUMINDATE
                                                           , FOOTEXAMDATE
                                                           , LST2WKSDEPRESSEDHOPELESS
                                                           , LST2WKSINTERESTPLEASURE
                                                           , LST2WKSNERVOUSANXIOUS
                                                           , LST2WKSSTOPCONTROLLWORRY
                                                           , AVERAGEPAINLEVEL
                                                           , HEIGHT
                                                           , WEIGHT
                                                           , LAST_UPD
                                                           , ROW_ID
                                                           , MPI
                                                           , CAREPLANCOMPLIANCE
                                                           , FLUSHOTDATE
                                                           , EYE_EXAM_DATE
            --, FtpFileSource
            --, HashCode
            )
            SELECT STAGETBL.HBA1C
                 , STAGETBL.CHOLESTEROL
                 , STAGETBL.MICROALBUMINDATE
                 , STAGETBL.FOOTEXAMDATE
                 , STAGETBL.LST2WKSDEPRESSEDHOPELESS
                 , STAGETBL.LST2WKSINTERESTPLEASURE
                 , STAGETBL.LST2WKSNERVOUSANXIOUS
                 , STAGETBL.LST2WKSSTOPCONTROLLWORRY
                 , STAGETBL.AVERAGEPAINLEVEL
                 , STAGETBL.HEIGHT
                 , STAGETBL.WEIGHT
                 , STAGETBL.LAST_UPD
                 , STAGETBL.ROW_ID
                 , STAGETBL.MPI
                 , STAGETBL.CAREPLANCOMPLIANCE
                 , STAGETBL.FLUSHOTDATE
                 , STAGETBL.EYE_EXAM_DATE
            --, STAGETBL.FtpFileSource
            --, STAGETBL.HashCode
              FROM TEMP_SIEBEL_ClinicalIndicators AS STAGETBL
                   JOIN
                   CTE AS C
                   ON C.MPI = STAGETBL.MPI;
        -- and C.ROW_ID = STAGETBL.ROW_ID

        SET @NbrRecs = @@ROWCOUNT;
        PRINT 'INSERTED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_SIEBEL_ClinicalIndicators ';
        SET @msg = 'INSERTED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_SIEBEL_ClinicalIndicators ';
        EXEC ADD_ClinicalIndicators_LOG @msg;

        SET @msg = 'INSERT START: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

        --*****************************************
        -- REMOVE Delete Duplicate records 
        --*****************************************    
        SET @msg = 'REMOVE DUPS 1 START: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

        DISABLE TRIGGER TRIG_DEL_BASE_view_SIEBEL_ClinicalIndicators ON dbo.BASE_view_SIEBEL_ClinicalIndicators;
        DISABLE TRIGGER TRIG_INS_BASE_view_SIEBEL_ClinicalIndicators ON dbo.BASE_view_SIEBEL_ClinicalIndicators;
        DISABLE TRIGGER TRIG_UPDT_BASE_view_SIEBEL_ClinicalIndicators ON dbo.BASE_view_SIEBEL_ClinicalIndicators;
        WITH CTE (MPI
                , DuplicateCount
        --, ROW_ID
        )
            AS (SELECT MPI
                     , ROW_NUMBER () OVER (PARTITION BY MPI ORDER BY MPI) AS DuplicateCount
                  FROM BASE_view_SIEBEL_ClinicalIndicators) 
            DELETE FROM CTE
            WHERE DuplicateCount > 1;
        SET @NbrRecs = @@ROWCOUNT;
        SET @msg = 'DUPS REMOVED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_SIEBEL_ClinicalIndicators ';
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;
        ENABLE TRIGGER TRIG_DEL_BASE_view_SIEBEL_ClinicalIndicators ON dbo.BASE_view_SIEBEL_ClinicalIndicators;
        ENABLE TRIGGER TRIG_INS_BASE_view_SIEBEL_ClinicalIndicators ON dbo.BASE_view_SIEBEL_ClinicalIndicators;
        ENABLE TRIGGER TRIG_UPDT_BASE_view_SIEBEL_ClinicalIndicators ON dbo.BASE_view_SIEBEL_ClinicalIndicators;

        SET @msg = 'REMOVE DUPS 1 END: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

        --**********************
        -- UPDATE all records 
        --**********************
        SET @msg = 'UPDATE START: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

        UPDATE BASETBL
          SET HBA1C = STAGETBL.HBA1C
            , CHOLESTEROL = STAGETBL.CHOLESTEROL
            , MICROALBUMINDATE = STAGETBL.MICROALBUMINDATE
            , FOOTEXAMDATE = STAGETBL.FOOTEXAMDATE
            , LST2WKSDEPRESSEDHOPELESS = STAGETBL.LST2WKSDEPRESSEDHOPELESS
            , LST2WKSINTERESTPLEASURE = STAGETBL.LST2WKSINTERESTPLEASURE
            , LST2WKSNERVOUSANXIOUS = STAGETBL.LST2WKSNERVOUSANXIOUS
            , LST2WKSSTOPCONTROLLWORRY = STAGETBL.LST2WKSSTOPCONTROLLWORRY
            , AVERAGEPAINLEVEL = STAGETBL.AVERAGEPAINLEVEL
            , HEIGHT = STAGETBL.HEIGHT
            , WEIGHT = STAGETBL.WEIGHT
            , LAST_UPD = STAGETBL.LAST_UPD
            , ROW_ID = STAGETBL.ROW_ID
              --, MPI
            , CAREPLANCOMPLIANCE = STAGETBL.CAREPLANCOMPLIANCE
            , FLUSHOTDATE = STAGETBL.FLUSHOTDATE
            , EYE_EXAM_DATE = STAGETBL.EYE_EXAM_DATE
        --, FtpFileSource = STAGETBL.FtpFileSource
        --, HashCode = STAGETBL.HashCode
          FROM BASE_view_SIEBEL_ClinicalIndicators BASETBL
               JOIN
               TEMP_SIEBEL_ClinicalIndicators STAGETBL
               ON BASETBL.MPI = STAGETBL.MPI 
                  -- AND BASETBL.ROW_ID = STAGETBL.ROW_ID ;
              AND STAGETBL.LAST_UPD >= BASETBL.LAST_UPD;
        -- select count(*) from BASE_view_SIEBEL_ClinicalIndicators
        SET @NbrRecs = @@ROWCOUNT;
        PRINT 'UPDATED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_SIEBEL_ClinicalIndicators ';
        SET @msg = 'UPDATED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_SIEBEL_ClinicalIndicators ';
        EXEC ADD_ClinicalIndicators_LOG @msg;

        SET @msg = 'UPDATE END: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

        --**************************************
        -- DELETE ALL BUT THE MAX CHANGE DATE 	
        --**************************************   
        SET @msg = 'REMOVE DUPS 2 START: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

        DELETE BT
          FROM BASE_view_SIEBEL_ClinicalIndicators AS BT
               LEFT JOIN
               BASE_view_SIEBEL_ClinicalIndicators AS keep
               ON keep.mpi = bt.mpi
              AND keep.Last_UPD = (SELECT MAX (Last_UPD) AS MaxTime
                                     FROM BASE_view_SIEBEL_ClinicalIndicators
                                     WHERE MPI = keep.mpi) 
          WHERE keep.mpi IS NULL;

        SET @msg = 'REMOVE DUPS 2 END: ' + CAST (GETDATE () AS nvarchar (50)) ;
        PRINT @msg;
        EXEC ADD_ClinicalIndicators_LOG @msg;

    END; --Create Procedure
END;