USE [DataMartPlatform];
GO

/****** Object:  StoredProcedure [dbo].[proc_view_RDW_ClinicalIndicators]    Script Date: 11/26/2016 11:39:31 AM ******/

SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
-- EXEC proc_view_RDW_ClinicalIndicators ; 
ALTER PROCEDURE dbo.proc_view_RDW_ClinicalIndicators (@ReloadALL AS int = 0) 
AS
BEGIN 

    -- This procedure, proc_view_RDW_ClinicalIndicators, is generated by proc_GenBaseTableFromView. On Jun 24 2016  4:11PM.
    -- For changes to this procedure, please change the generator and regen the proc(s).
    -- Author:    W. Dale Miller
    -- Contact:   WDaleMiller@gmail.com

    SET NOCOUNT ON;

    DECLARE
           @iCnt int = 0
         , @msg varchar (250) = '';
    SET @iCnt = (SELECT COUNT (*)
                   FROM TEMP_RDW_ClinicalIndicators) ;
    IF @iCnt = 0
        BEGIN
            PRINT 'NO Records found to process in the staging table, BASE_view_RDW_ClinicalIndicators.';
            SET @msg = 'NO Records found to process in the staging table, BASE_view_RDW_ClinicalIndicators.';
            EXEC ADD_ClinicalIndicators_LOG @msg;
            PRINT 'Returning...';
            RETURN;
        END; 

    -- from @Tbl_DLL
    IF NOT EXISTS (SELECT name
                     FROM sys.tables
                     WHERE name = 'BASE_view_RDW_ClinicalIndicators') 
        BEGIN
            CREATE TABLE BASE_view_RDW_ClinicalIndicators (MeasureCode nvarchar (50) 
                                                         , EventDate datetime
                                                         , MPI int
                                                         , UPD_RT datetime
                                                         , SRC_FILE_DT datetime
                                                         , INS_DT datetime) ;
            CREATE INDEX PI_view_RDW_ClinicalIndicators ON BASE_view_RDW_ClinicalIndicators (MeasureCode, EventDate, MPI) ;
        END;    --begin


    -- from @InsertIntoDDL
    DECLARE
           @NbrRecs bigint = 0;
    IF @ReloadAll = 1
        BEGIN
            truncate TABLE BASE_view_RDW_ClinicalIndicators;
        END;    --Begin
    
    --********************************************************************************************************************************
    -- Remove all records from the BASE table that are not in or are different than the CURRENT records in the view 
    SET @msg = 'DELETE START: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;

    WITH CTE (MeasureCode
              --, EventDate
            , MPI) 
        AS (SELECT MeasureCode
                   --, EventDate
                 , MPI
              FROM BASE_view_RDW_ClinicalIndicators
            EXCEPT
            SELECT MeasureCode
                   --, EventDate
                 , MPI
              FROM TEMP_RDW_ClinicalIndicators) 
        DELETE TEMPTBL
          FROM BASE_view_RDW_ClinicalIndicators AS TEMPTBL
               INNER JOIN
               CTE AS C
               ON C.MeasureCode = TEMPTBL.MeasureCode
                  --AND C.EventDate = TEMPTBL.EventDate
              AND C.MPI = TEMPTBL.MPI;

    SET @NbrRecs = @@ROWCOUNT;
    PRINT '#DELETED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records in BASE_view_RDW_ClinicalIndicators ';
    SET @msg = '#DELETED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records in BASE_view_RDW_ClinicalIndicators ';
    EXEC ADD_ClinicalIndicators_LOG @msg;

    SET @msg = 'DELETE END: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;

    --********************************
    -- INSERT all the new records

    SET @msg = 'INSERT START: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;

    WITH CTE (MeasureCode
              --, EventDate
            , MPI) 
        AS (SELECT MeasureCode
                   --, EventDate
                 , MPI
              FROM TEMP_RDW_ClinicalIndicators
            EXCEPT
            SELECT MeasureCode
                   --, EventDate
                 , MPI
              FROM BASE_view_RDW_ClinicalIndicators) 
        INSERT INTO BASE_view_RDW_ClinicalIndicators (MeasureCode
                                                    , EventDate
                                                    , MPI
                                                    , UPD_RT
                                                    , SRC_FILE_DT
                                                    , INS_DT) 
        SELECT TEMPTBL.MeasureCode
             , TEMPTBL.EventDate
             , TEMPTBL.MPI
             , TEMPTBL.UPD_RT
             , TEMPTBL.SRC_FILE_DT
             , TEMPTBL.INS_DT
          FROM TEMP_RDW_ClinicalIndicators AS TEMPTBL
               JOIN
               CTE AS C
               ON C.MeasureCode = TEMPTBL.MeasureCode
                  --AND C.EventDate = TEMPTBL.EventDate
              AND C.MPI = TEMPTBL.MPI;
    SET @NbrRecs = @@ROWCOUNT;
    PRINT 'INSERTED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_RDW_ClinicalIndicators ';
    SET @msg = 'INSERTED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_RDW_ClinicalIndicators ';
    EXEC ADD_ClinicalIndicators_LOG @msg;

    SET @msg = 'INSERT END: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;


    --*****************************************
    -- REMOVE Delete Duplicate records 
    --*****************************************
    SET @msg = 'REMOVE DUPS 1 START: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;

    DISABLE TRIGGER TRIG_DEL_BASE_view_RDW_ClinicalIndicators ON dbo.BASE_view_RDW_ClinicalIndicators;
    DISABLE TRIGGER TRIG_INS_BASE_view_RDW_ClinicalIndicators ON dbo.BASE_view_RDW_ClinicalIndicators;
    DISABLE TRIGGER TRIG_UPDT_BASE_view_RDW_ClinicalIndicators ON dbo.BASE_view_RDW_ClinicalIndicators;
    WITH CTE (MeasureCode
            , MPI
            , DuplicateCount) 
        AS (SELECT MeasureCode
                 , MPI
                 , ROW_NUMBER () OVER (PARTITION BY MeasureCode
                                                  , MPI ORDER BY MPI) AS DuplicateCount
              FROM BASE_view_RDW_ClinicalIndicators) 
        DELETE FROM CTE
        WHERE DuplicateCount > 1;
    SET @NbrRecs = @@ROWCOUNT;
    SET @msg = 'DUPS REMOVED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_RDW_ClinicalIndicators ';
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;
    ENABLE TRIGGER TRIG_DEL_BASE_view_RDW_ClinicalIndicators ON dbo.BASE_view_RDW_ClinicalIndicators;
    ENABLE TRIGGER TRIG_INS_BASE_view_RDW_ClinicalIndicators ON dbo.BASE_view_RDW_ClinicalIndicators;
    ENABLE TRIGGER TRIG_UPDT_BASE_view_RDW_ClinicalIndicators ON dbo.BASE_view_RDW_ClinicalIndicators;

    SET @msg = 'REMOVE DUPS 1 END: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;

    --**********************
    -- UPDATE all records 
    -- select top 1000 * from TEMP_RDW_ClinicalIndicators order by mpi,MeasureCode, EventDate
    --**********************
    SET @msg = 'UPDATE START: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;
    PRINT GETDATE () ;
    UPDATE BASETBL
      SET EventDate = TEMPTBL.EventDate
        , UPD_RT = TEMPTBL.UPD_RT
        , SRC_FILE_DT = TEMPTBL.SRC_FILE_DT
        , INS_DT = TEMPTBL.INS_DT
      FROM BASE_view_RDW_ClinicalIndicators BASETBL
           JOIN
           TEMP_RDW_ClinicalIndicators TEMPTBL
           ON BASETBL.MeasureCode = TEMPTBL.MeasureCode
          AND BASETBL.MPI = TEMPTBL.MPI
          AND TEMPTBL.EventDate > BASETBL.EventDate;
    SET @NbrRecs = @@ROWCOUNT;
    PRINT 'UPDATED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_RDW_ClinicalIndicators ';
    SET @msg = 'UPDATED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_RDW_ClinicalIndicators ';
    EXEC ADD_ClinicalIndicators_LOG @msg;
    SET @msg = 'UPDATE END: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;

    SET @msg = 'DELETE DUPS @2 START: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;
    --**************************************
    -- DELETE ALL BUT THE MAX CHANGE DATE 	
    --**************************************   
    DELETE BT
      FROM BASE_view_RDW_ClinicalIndicators AS BT
           LEFT JOIN
           BASE_view_RDW_ClinicalIndicators AS keep
           ON keep.mpi = bt.mpi
          AND keep.EventDate = (SELECT MAX (EventDate) AS MaxTime
                                  FROM BASE_view_RDW_ClinicalIndicators
                                  WHERE MPI = keep.mpi) 
      WHERE keep.mpi IS NULL;
    SET @msg = 'DELETE DUPS @2 END: ' + CAST (GETDATE () AS nvarchar (50)) ;
    PRINT @msg;
    EXEC ADD_ClinicalIndicators_LOG @msg;
END; --Create Procedure