USE [DataMartPlatform];
GO

/****** Object:  StoredProcedure [dbo].[proc_STAGING_view_RDW_ClinicalIndicators]    Script Date: 11/3/2016 2:41:00 PM ******/

SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
-- EXEC proc_STAGING_view_RDW_ClinicalIndicators ; 
ALTER PROCEDURE dbo.proc_STAGING_view_RDW_ClinicalIndicators (@ReloadALL AS int = 0) 
AS
BEGIN 

    -- This procedure, proc_STAGING_view_RDW_ClinicalIndicators, is generated by proc_GenBaseTableFromView. On Jun 24 2016  4:11PM.
    -- For changes to this procedure, please change the generator and regen the proc(s).
    -- Author:    W. Dale Miller
    -- Contact:   WDaleMiller@gmail.com

    SET NOCOUNT ON;
    --IF OBJECT_ID ('STAGING_view_RDW_ClinicalIndicators') IS NOT NULL
    --    BEGIN
    --        DROP TABLE STAGING_view_RDW_ClinicalIndicators;
    --    END; 

    -- from @Tbl_DLL
    IF NOT EXISTS (SELECT name
                     FROM sys.tables
                     WHERE name = 'BASE_view_RDW_ClinicalIndicators') 
        BEGIN
            CREATE TABLE BASE_view_RDW_ClinicalIndicators (MeasureCode nvarchar (50) 
                                                         , EventDate datetime
                                                         , MPI int
                                                         , UPD_RT datetime
                                                         , SRC_FILE_DT datetime
                                                         , INS_DT datetime
                                                         , FtpFileSource varchar (256) NOT NULL
                                                         , HashCode nvarchar (100) NULL) ;
            CREATE INDEX PI_STAGING_view_RDW_ClinicalIndicators ON BASE_view_RDW_ClinicalIndicators (MeasureCode, EventDate, MPI, FtpFileSource) ;
        END;    --begin


    -- from @InsertIntoDDL
    DECLARE
           @NbrRecs bigint = 0;
    IF @ReloadAll = 1
        BEGIN
            DELETE FROM BASE_view_RDW_ClinicalIndicators;
            INSERT INTO BASE_view_RDW_ClinicalIndicators (MeasureCode
                                                        , EventDate
                                                        , MPI
                                                        , UPD_RT
                                                        , SRC_FILE_DT
                                                        , INS_DT
                                                        , FtpFileSource
                                                        , HashCode) 
            SELECT MeasureCode
                 , EventDate
                 , MPI
                 , UPD_RT
                 , SRC_FILE_DT
                 , INS_DT
                 , FtpFileSource
                 , HashCode
              FROM STAGING_view_RDW_ClinicalIndicators;

            RETURN;
        END;    --Begin

    -- from @InsertNewDDL
    SELECT MeasureCode
         , EventDate
         , MPI
         , UPD_RT
         , SRC_FILE_DT
         , INS_DT
         , FtpFileSource
         , HashCode
      FROM STAGING_view_RDW_ClinicalIndicators;
    SET @NbrRecs = @@ROWCOUNT;
    PRINT 'PULLED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records from STAGING_view_RDW_ClinicalIndicators ';

    -- Remove all records from the BASE table that are not in or are different than the CURRENT records in the view 
    WITH CTE (MeasureCode
            , EventDate
            , MPI) 
        AS (SELECT MeasureCode
                 , EventDate
                 , MPI
              FROM BASE_view_RDW_ClinicalIndicators
            EXCEPT
            SELECT MeasureCode
                 , EventDate
                 , MPI
              FROM STAGING_view_RDW_ClinicalIndicators) 
        DELETE B
          FROM BASE_view_RDW_ClinicalIndicators AS B
               INNER JOIN
               CTE AS C
               ON C.MeasureCode = B.MeasureCode
              AND C.EventDate = B.EventDate
              AND C.MPI = B.MPI;

    SET @NbrRecs = @@ROWCOUNT;
    PRINT '#REMOVED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records in BASE_view_RDW_ClinicalIndicators ';

    WITH CTE (MeasureCode
            , EventDate
            , MPI) 
        AS (SELECT MeasureCode
                 , EventDate
                 , MPI
              FROM STAGING_view_RDW_ClinicalIndicators
            EXCEPT
            SELECT MeasureCode
                 , EventDate
                 , MPI
              FROM BASE_view_RDW_ClinicalIndicators) 
        INSERT INTO BASE_view_RDW_ClinicalIndicators (MeasureCode
                                                    , EventDate
                                                    , MPI
                                                    , UPD_RT
                                                    , SRC_FILE_DT
                                                    , INS_DT
                                                    , FtpFileSource
                                                    , HashCode) 
        SELECT BT.MeasureCode
             , BT.EventDate
             , BT.MPI
             , BT.UPD_RT
             , BT.SRC_FILE_DT
             , BT.INS_DT
             , BT.FtpFileSource
             , BT.HashCode
          FROM STAGING_view_RDW_ClinicalIndicators AS BT
               JOIN
               CTE AS C
               ON C.MeasureCode = BT.MeasureCode
              AND C.EventDate = BT.EventDate
              AND C.MPI = BT.MPI;
    SET @NbrRecs = @@ROWCOUNT;
    PRINT 'INSERTED: ' + CAST (@NbrRecs AS nvarchar (50)) + ' records into BASE_view_RDW_ClinicalIndicators ';


END; --Create Procedure