/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CT_NAME]
      ,[CT_Start]
      ,[CT_End]
      ,[CT_TotalMinutes]
      ,[CT_RecordsProcessed]
      ,[CT_Inserts]
      ,[CT_Updates]
      ,[CT_Deletes]
      ,[RecordID]
  FROM [KenticoCMS_Prod1].[dbo].[EDW_CT_ExecutionLog]
order by [CT_Start] desc

SELECT [RowGuid]
      ,[RowNbr]
      ,[CALLING_PROC]
      ,[PROC_LOCATION]
      ,[starttime]
      ,[endtime]
      ,[elapsedsecs]
      ,[elapsedmin]
      ,[elapsedhr]
      ,[RowsProcessed]
      ,[CreateDate]
      ,[LastModifiedDate]
  FROM [dbo].[CT_Performance_History]
order by [RowNbr] desc