<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService11" maxBufferPoolSize="2621440" maxReceivedMessageSize="20621440"/>
        <binding name="BasicHttpBinding_IService1" maxBufferPoolSize="2621440"
            maxReceivedMessageSize="20621440"/>
      </basicHttpBinding>
    </bindings>

    <!--http://PICA010A0ESX1N3/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://PICA010A0ESX1N3/CLC/SVCclcDownload.svc-->
    <!--http://localhost:17780/SVCGateway.svc-->
    <!--http://localhost:17785/SVCclcDownload.svc-->

    <!--ECM DEMO TEST SERVER - USA-->
    <!--http://192.168.0.13/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://192.168.0.13/SVCclcDownload/SVCclcDownload.svc-->

    <!--ECM DEMO TEST SERVER - SWEDEN-->
    <!--http://195.62.77.43/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://195.62.77.43/SVCclcDownload/SVCclcDownload.svc-->

    <!--ECM DOWNLOAD SERVER - USA-->
    <!--http://www.EcmLibrary.com/ECMSaaS/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://www.EcmLibrary.com/EcmSaas/ClcDownloader/SVCclcDownload.svc-->

    <!--ECM DEMO TEST SERVER - USA-->
    <!--http://192.168.0.13/SecureAttachAdminSvc/SVCGateway.svc-->
    <!--http://192.168.0.13/SVCclcDownload/SVCclcDownload.svc-->

    <!--This is the critical setting for the downloader, which repository to download from.-->
    <!--The download service can run on a different server (not recommended),              -->
    <!--the gateway service must run on the same as the Archiver (required).-->
    <!--<client>
            <endpoint address="http://localhost:16720/SVCGateway.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11"
                contract="SVC_Gateway.IService1"
                name="BasicHttpBinding_IService11"/>
            <endpoint address="http://localhost:45467/SVCclcDownload.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="SVCclcDownload.IService1"
                name="BasicHttpBinding_IService1"/>
        </client>-->
    <client>
      <endpoint address="http://192.168.0.13/SVCGateway.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService11" contract="SVC_Gateway.IService1"
          name="BasicHttpBinding_IService11"/>
      <endpoint address="http://192.168.0.13/SVCclcDownload.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
          contract="SVCclcDownload.IService1" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <WindowsApplication1.My.MySettings>
      <setting name="RunMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceURL" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </WindowsApplication1.My.MySettings>
  </userSettings>
  <appSettings>

    <add key="ECMSecureLogin" value="Data Source=192.168.0.13;Initial Catalog=ECM.SecureLogin;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Timeout=30;"/>
    <add key="ECMREPO" value="Data Source=192.168.0.13;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Timeout=30;"/>
    <add key="UseEncrypted" value="0"/>
    <add key="UseMasterFile" value="0"/>
    <add key="UseSecurityDB" value="1"/>
    <add key="EncPW" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>
    <add key="EncPWFS" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>

    <add key="GREPKEY" value="EcmCLCDownload"/>
    <add key="ECMSecureLoginEndPoint" value="http://localhost:62975/SVCGateway.svc"/>
    <add key="UseEncrypted" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ECMSearchURL" value="http://EcmFind.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>