<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1"/>
    <httpRuntime executionTimeout="60" maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="65536" messageEncoding="Mtom" transferMode="Streamed" sendTimeout="01:10:00" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00">
          <!--this is important-->
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxBytesPerRead="8192" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp"/>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="GREPKEY" value="EcmClcArchiveWcfFS"/>
    <!-- *********   UDPATE THIS ONE HERE                                               ************** -->
    <!-- *********   Use to expand and explode ZIP files, otherwise a ZIP file will be indexed intact. ************** -->
    <add key="ExplodeContentZip" value="N"/>
    <add key="ExplodeEmailZip" value="N"/>
    <add key="ExplodeEmailAttachment" value="N"/>
    <add key="FacilityName" value="Highland Park"/>
    <!--Set UseEncrypted's value to 1 if the encrypted connection string is to be used.-->
    <add key="ENC.ECMREPO" value="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Connect Timeout = 30;"/>
    <add key="ECMREPO" value="Data Source=ALIEN15;Initial Catalog=ECM.Library.FS;Persist Security Info=True;User ID=ecmlibrary;Password=@@PW@@; Connect Timeout = 30;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--Set the below value to 1 if the encrypted connection string is to be used.-->
    <add key="UseEncrypted" value="1"/>
    <add key="UploadPath" value="C:\TempUploads"/>
    <add key="LogPath" value="C:\Logs"/>
    <add key="EncPW" value="ylyRBa70eZ4DdNKMpg9Z+Q=="/>
  </appSettings>
</configuration>
