<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />
            </basicHttpBinding>
        </bindings>
      <!--http://localhost:1555/SVCGateway.svc-->
      <!--http://SVR2016/SVCGateway.svc-->
      <!--http://192.168.0.13/SVCGateway.svc-->
      <client>
        <endpoint address="http://localhost:1555/SVCGateway.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService1" contract="SVCGateway.IService1"
          name="BasicHttpBinding_IService1" />
        <endpoint address="http://localhost:59757/SVCSearch.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService11" contract="SVCSearch.IService1"
          name="BasicHttpBinding_IService11" />
      </client>
    </system.serviceModel>
    <connectionStrings>
      <add name="GateWayServerCS" connectionString="Data Source=ECM2016;Initial Catalog=ECM.SecureLogin;Persist Security Info=True;User ID=ecmlibrary;Password=Junebug1; Connect Timeout = 15;"/>
    </connectionStrings>
  
      <appSettings>
          <add key="GateWayServerCS" value="Data Source=ECM2016;Initial Catalog=ECM.SecureLogin;Persist Security Info=True;User ID=sa;Password=Junebug1"/>
          <add key="TEMPDIR" value="C:\TEMPFILES"/>
          <add key="LOGDIR" value="C:\ECMLOGS"/>
          <add key="ClientSettingsProvider.ServiceUri" value=""/>
          <add key="DebugOn" value="0"/>
          <add key="VerNO" value="4.9.7.5"/>
  </appSettings>
</configuration>